<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.modules.loan.carloanhistoryinfo.dao.CarLoanHistoryInfoDao">
    <resultMap id="carLoanHistoryDetail" type="com.car.modules.loan.carloanhistoryinfo.dto.CarLoanHistoryDetailDTO">
        <result property="entryDate" column="ENTRY_DATE" jdbcType="VARCHAR" />
        <result property="orderNumber" column="ORDER_NUMBER" jdbcType="VARCHAR" />
        <result property="productType" column="PRODUCT_TYPE" jdbcType="VARCHAR"/>
        <result property="userName" column="USER_NAME" jdbcType="VARCHAR" />
        <result property="idCard" column="ID_CARD" jdbcType="VARCHAR" />
        <result property="doyouApprove" column="DOYOU_APPROVE" jdbcType="VARCHAR" />
        <result property="approvalAmount" column="APPROVAL_AMOUNT" jdbcType="VARCHAR" />
        <result property="approvalTerm" column="APPROVAL_TERM" jdbcType="VARCHAR" />
        <result property="creLastUser" column="CRE_LAST_USER" jdbcType="VARCHAR"/>
        <result property="secondLevelName" column="SECOND_LEVEL_NAME" jdbcType="VARCHAR" />
        <result property="customerManager" column="CUSTOMER_MANAGER" jdbcType="VARCHAR" />
        <result property="storeAppraiser" column="STORE_APPRAISER" jdbcType="VARCHAR" />
        <result property="carNumber" column="CAR_NUMBER" jdbcType="VARCHAR" />
        <result property="carFrameNumber" column="CAR_FRAME_NUMBER" jdbcType="VARCHAR" />

    </resultMap>
    <select id="queryCarLoanPhone" parameterType="java.lang.String" resultMap="carLoanHistoryDetail">
        SELECT
        c1.id,
        c1.ENTRY_DATE,
        c1.ORDER_NUMBER,
        c1.PRODUCT_TYPE,
        c2.USER_NAME,
        c2.ID_CARD,
        c1.DOYOU_APPROVE,
        c1.APPROVAL_AMOUNT,
        c1.APPROVAL_TERM,
        c1.CRE_LAST_USER,
        c1.SECOND_LEVEL_NAME,
        c1.CUSTOMER_MANAGER,
        c1.STORE_APPRAISER,
        c3.CAR_NUMBER,
        c3.CAR_FRAME_NUMBER
        FROM
        car_loan_info c1
        LEFT JOIN car_loan_user c2
        on c1.ORDER_NUMBER=c2.ORDER_NUMBER
        LEFT JOIN car_loan_msg c3
        on c1.ORDER_NUMBER=c3.ORDER_NUMBER
        WHERE 1=1
        <if test="dto.phoneNumber != null and dto.phoneNumber != ''">
            and c2.PHONE_NUMBER = #{dto.phoneNumber}
        </if>
        <if test="dto.idCard != null and dto.idCard != ''">
            and c2.ID_CARD = #{dto.idCard}
        </if>
        and c1.ORDER_NUMBER !=#{dto.orderNumber}
    </select>

    <select id="queryCarNumber" parameterType="java.util.Map" resultMap="carLoanHistoryDetail">
        SELECT
            c1.id,
            c1.ENTRY_DATE,
            c1.ORDER_NUMBER,
            c1.PRODUCT_TYPE,
            c2.USER_NAME,
            c2.ID_CARD,
            c1.DOYOU_APPROVE,
            c1.APPROVAL_AMOUNT,
            c1.APPROVAL_TERM,
            c1.CRE_LAST_USER,
            c1.SECOND_LEVEL_NAME,
            c1.CUSTOMER_MANAGER,
            c1.STORE_APPRAISER,
            c3.CAR_NUMBER,
            c3.CAR_FRAME_NUMBER
        FROM
            car_loan_info c1
        LEFT JOIN car_loan_user c2
        on c1.ORDER_NUMBER=c2.ORDER_NUMBER
        LEFT JOIN car_loan_msg c3
        on c1.ORDER_NUMBER=c3.ORDER_NUMBER
        WHERE 1=1
        <if test="dto.carNumber != null and dto.carNumber != ''">
            and c3.CAR_NUMBER = #{dto.carNumber}
        </if>
        <if test="dto.carFrameNumber != null and dto.carFrameNumber != ''">
            and c3.CAR_FRAME_NUMBER = #{dto.carFrameNumber}
        </if>
        and c1.ORDER_NUMBER !=#{dto.orderNumber}
    </select>

    <select id="queryCarLoanContactPhone" parameterType="java.lang.String" resultMap="carLoanHistoryDetail">
            SELECT
            c1.id,
            c1.ENTRY_DATE,
            c1.ORDER_NUMBER,
            c1.PRODUCT_TYPE,
            c2.USER_NAME,
            c2.ID_CARD,
            c1.DOYOU_APPROVE,
            c1.APPROVAL_AMOUNT,
            c1.APPROVAL_TERM,
            c1.CRE_LAST_USER,
            c1.SECOND_LEVEL_NAME,
            c1.CUSTOMER_MANAGER,
            c1.STORE_APPRAISER
        FROM
            car_loan_info c1
        LEFT JOIN car_loan_user c2 ON c1.ORDER_NUMBER = c2.ORDER_NUMBER
        LEFT JOIN car_loan_user_contacts c3 on c1.ORDER_NUMBER=c3.ORDER_NUMBER
        WHERE
            1 = 1
        <if test="dto.phoneNumber != null and dto.phoneNumber != ''">
            and c3.USER_TELEPHONE = #{dto.phoneNumber}
        </if>
        AND c1.ORDER_NUMBER != #{dto.orderNumber}
    </select>
</mapper>