<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.modules.loan.carloansurveycontacts.dao.CarLoanSurveyContactsDao">
	<resultMap id="CarLoanSurveyContactsDTO" type="com.car.modules.loan.carloansurveycontacts.dto.CarLoanSurveyContactsDTO">
		<result property="id" column="id" jdbcType="DECIMAL" />
		<result property="orderNumber" column="ORDER_NUMBER" jdbcType="VARCHAR" />
		<result property="carLoanUserId" column="CAR_LOAN_USER_ID" jdbcType="VARCHAR" />
		<result property="contactType" column="CONTACT_TYPE" jdbcType="VARCHAR" />
		<result property="relationship" column="RELATIONSHIP" jdbcType="VARCHAR" />
		<result property="userName" column="USER_NAME" jdbcType="VARCHAR" />
		<result property="userTelephone" column="USER_TELEPHONE" jdbcType="VARCHAR" />
		<result property="investigationStatus" column="INVESTIGATION_STATUS" jdbcType="VARCHAR" />
		<result property="homeAddress" column="HOME_ADDRESS" jdbcType="VARCHAR" />
		<result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR" />
		<result property="remark" column="REMARK" jdbcType="VARCHAR" />
		<result property="creationTime" column="CREATION_TIME" jdbcType="TIMESTAMP" />
		<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
		<result property="type" column="TYPE" jdbcType="VARCHAR" />
		<result property="valueStatus" column="VALUE_STATUS" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 分页查询 car_loan_survey_contacts -->
	<select id="searchCarLoanSurveyContactsByPaging" parameterType="java.util.Map" resultMap="CarLoanSurveyContactsDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.car_loan_user_id               ,
		t1.contact_type                   ,
		t1.relationship                   ,
		t1.user_name                      ,
		t1.user_telephone                 ,
		t1.investigation_status           ,
		t1.home_address                   ,
		t1.company_name                   ,
		t1.remark                         ,
		t1.creation_time                  ,
		t1.update_time                    ,
		t1.type                           ,
		t1.value_status

		from car_loan_survey_contacts 	t1
		where 1=1
		<if test="dto.id != null and dto.id != ''">
			and t1.id =#{dto.id}
		</if>
		<if test="dto.orderNumber != null and dto.orderNumber != ''">
			and t1.ORDER_NUMBER =#{dto.orderNumber}
		</if>
		<if test="dto.carLoanUserId != null and dto.carLoanUserId != ''">
			and t1.CAR_LOAN_USER_ID =#{dto.carLoanUserId}
		</if>
		<if test="dto.contactType != null and dto.contactType != ''">
			and t1.CONTACT_TYPE =#{dto.contactType}
		</if>
		<if test="dto.relationship != null and dto.relationship != ''">
			and t1.RELATIONSHIP =#{dto.relationship}
		</if>
		<if test="dto.userName != null and dto.userName != ''">
			and t1.USER_NAME =#{dto.userName}
		</if>
		<if test="dto.userTelephone != null and dto.userTelephone != ''">
			and t1.USER_TELEPHONE =#{dto.userTelephone}
		</if>
		<if test="dto.investigationStatus != null and dto.investigationStatus != ''">
			and t1.INVESTIGATION_STATUS =#{dto.investigationStatus}
		</if>
		<if test="dto.homeAddress != null and dto.homeAddress != ''">
			and t1.HOME_ADDRESS =#{dto.homeAddress}
		</if>
		<if test="dto.companyName != null and dto.companyName != ''">
			and t1.COMPANY_NAME =#{dto.companyName}
		</if>
		<if test="dto.remark != null and dto.remark != ''">
			and t1.REMARK =#{dto.remark}
		</if>
		<if test="dto.creationTime != null and dto.creationTime != ''">
			and t1.CREATION_TIME =#{dto.creationTime}
		</if>
		<if test="dto.updateTime != null and dto.updateTime != ''">
			and t1.UPDATE_TIME =#{dto.updateTime}
		</if>
		<if test="dto.type != null and dto.type != ''">
			and t1.TYPE =#{dto.type}
		</if>
		<if test="dto.valueStatus != null and dto.valueStatus != ''">
			and t1.VALUE_STATUS =#{dto.valueStatus}
		</if>
		order by t1.id desc
	</select>

	<!-- 查询列表 car_loan_survey_contacts  -->
	<select id="searchCarLoanSurveyContacts" parameterType="java.util.Map" resultMap="CarLoanSurveyContactsDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.car_loan_user_id               ,
		t1.contact_type                   ,
		t1.relationship                   ,
		t1.user_name                      ,
		t1.user_telephone                 ,
		t1.investigation_status           ,
		t1.home_address                   ,
		t1.company_name                   ,
		t1.remark                         ,
		t1.creation_time                  ,
		t1.update_time                    ,
		t1.type                           ,
		t1.value_status
		from car_loan_survey_contacts 		t1
		where 1=1
		<if test="dto.id != null and dto.id != ''">
			and t1.id = #{dto.id}
		</if>
		<if test="dto.orderNumber != null and dto.orderNumber != ''">
			and t1.ORDER_NUMBER = #{dto.orderNumber}
		</if>
		<if test="dto.carLoanUserId != null and dto.carLoanUserId != ''">
			and t1.CAR_LOAN_USER_ID = #{dto.carLoanUserId}
		</if>
		<if test="dto.contactType != null and dto.contactType != ''">
			and t1.CONTACT_TYPE = #{dto.contactType}
		</if>
		<if test="dto.relationship != null and dto.relationship != ''">
			and t1.RELATIONSHIP = #{dto.relationship}
		</if>
		<if test="dto.userName != null and dto.userName != ''">
			and t1.USER_NAME = #{dto.userName}
		</if>
		<if test="dto.userTelephone != null and dto.userTelephone != ''">
			and t1.USER_TELEPHONE = #{dto.userTelephone}
		</if>
		<if test="dto.investigationStatus != null and dto.investigationStatus != ''">
			and t1.INVESTIGATION_STATUS = #{dto.investigationStatus}
		</if>
		<if test="dto.homeAddress != null and dto.homeAddress != ''">
			and t1.HOME_ADDRESS = #{dto.homeAddress}
		</if>
		<if test="dto.companyName != null and dto.companyName != ''">
			and t1.COMPANY_NAME = #{dto.companyName}
		</if>
		<if test="dto.remark != null and dto.remark != ''">
			and t1.REMARK = #{dto.remark}
		</if>
		<if test="dto.creationTime != null and dto.creationTime != ''">
			and t1.CREATION_TIME = #{dto.creationTime}
		</if>
		<if test="dto.updateTime != null and dto.updateTime != ''">
			and t1.UPDATE_TIME = #{dto.updateTime}
		</if>
		<if test="dto.type != null and dto.type != ''">
			and t1.TYPE = #{dto.type}
		</if>
		<if test="dto.valueStatus != null and dto.valueStatus != ''">
			and t1.VALUE_STATUS = #{dto.valueStatus}
		</if>
	</select>

	<!-- 主键查询对象  car_loan_survey_contacts -->
	<select id="findCarLoanSurveyContactsByPrimaryKey" parameterType="java.util.Map" resultMap="CarLoanSurveyContactsDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.car_loan_user_id               ,
		t1.contact_type                   ,
		t1.relationship                   ,
		t1.user_name                      ,
		t1.user_telephone                 ,
		t1.investigation_status           ,
		t1.home_address                   ,
		t1.company_name                   ,
		t1.remark                         ,
		t1.creation_time                  ,
		t1.update_time                    ,
		t1.type                           ,
		t1.value_status
		from car_loan_survey_contacts 		t1
		where
		t1.id = #{id}
	</select>

	<!-- 新增对象 car_loan_survey_contacts -->
	<insert id="insertCarLoanSurveyContacts" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="dto.id">
		insert into car_loan_survey_contacts
		(

		order_number                   ,
		car_loan_user_id               ,
		contact_type                   ,
		relationship                   ,
		user_name                      ,
		user_telephone                 ,
		investigation_status           ,
		home_address                   ,
		company_name                   ,
		remark                         ,
		creation_time                  ,
		update_time                    ,
		type                           ,
		value_status
		)
		values(

		#{dto.orderNumber,jdbcType=VARCHAR}
		,
		#{dto.carLoanUserId,jdbcType=VARCHAR}
		,
		#{dto.contactType,jdbcType=VARCHAR}
		,
		#{dto.relationship,jdbcType=VARCHAR}
		,
		#{dto.userName,jdbcType=VARCHAR}
		,
		#{dto.userTelephone,jdbcType=VARCHAR}
		,
		#{dto.investigationStatus,jdbcType=VARCHAR}
		,
		#{dto.homeAddress,jdbcType=VARCHAR}
		,
		#{dto.companyName,jdbcType=VARCHAR}
		,
		#{dto.remark,jdbcType=VARCHAR}
		,
		#{dto.creationTime,jdbcType=TIMESTAMP}
		--         CURRENT_TIMESTAMP
		,
		#{dto.updateTime,jdbcType=TIMESTAMP}
		,
		#{dto.type,jdbcType=VARCHAR}
		,
		#{dto.valueStatus,jdbcType=VARCHAR}
		)
	</insert>

	<!-- 更新对象 car_loan_survey_contacts -->
	<update id="updateCarLoanSurveyContacts" parameterType="java.util.Map">
		update car_loan_survey_contacts t1
		set
		<if test="dto.contactType != null and dto.contactType != ''">
			t1.contact_type                   =#{dto.contactType,jdbcType=VARCHAR},
		</if>
		<if test="dto.relationship != null and dto.relationship != ''">
			t1.relationship                   =#{dto.relationship,jdbcType=VARCHAR},
		</if>
		<if test="dto.userName != null and dto.userName != ''">
			t1.user_name                      =#{dto.userName,jdbcType=VARCHAR},
		</if>
		<if test="dto.userTelephone != null and dto.userTelephone != ''">
			t1.user_telephone                 =#{dto.userTelephone,jdbcType=VARCHAR},
		</if>
		<if test="dto.investigationStatus != null and dto.investigationStatus != ''">
			t1.investigation_status           =#{dto.investigationStatus,jdbcType=VARCHAR},
		</if>
		<if test="dto.homeAddress != null and dto.homeAddress != ''">
			t1.home_address                   =#{dto.homeAddress,jdbcType=VARCHAR},
		</if>
		<if test="dto.companyName != null and dto.companyName != ''">
			t1.company_name                   =#{dto.companyName,jdbcType=VARCHAR},
		</if>
		<if test="dto.remark != null and dto.remark != ''">
			t1.remark                         =#{dto.remark,jdbcType=VARCHAR},
		</if>
		<if test="dto.updateTime != null">
			t1.update_time                    =#{dto.updateTime,jdbcType=TIMESTAMP},
		</if>
		<if test="dto.type != null and dto.type != ''">
			t1.type                           =#{dto.type,jdbcType=VARCHAR},
		</if>
		<if test="dto.valueStatus != null and dto.valueStatus != ''">
			t1.value_status                   =#{dto.valueStatus,jdbcType=VARCHAR}
		</if>
		where t1.id = #{dto.id}
	</update>


	<select id="queryLikeCarLoanSurveyContacts" parameterType="java.util.Map" resultMap="CarLoanSurveyContactsDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.car_loan_user_id               ,
		t1.contact_type                   ,
		t1.relationship                   ,
		t1.user_name                      ,
		t1.user_telephone                 ,
		t1.investigation_status           ,
		t1.home_address                   ,
		t1.company_name                   ,
		t1.remark                         ,
		t1.creation_time                  ,
		t1.update_time                    ,
		t1.type                           ,
		t1.value_status
		from car_loan_survey_contacts 		t1
		where 1=1
		<if test="dto.id != null and dto.id != ''">
			and t1.id = #{dto.id}
		</if>
		<if test="dto.orderNumber != null and dto.orderNumber != ''">
			and t1.ORDER_NUMBER = #{dto.orderNumber}
		</if>
		<if test="dto.carLoanUserId != null and dto.carLoanUserId != ''">
			and t1.CAR_LOAN_USER_ID = #{dto.carLoanUserId}
		</if>
		<if test="dto.contactType != null and dto.contactType != ''">
			and t1.CONTACT_TYPE = #{dto.contactType}
		</if>
		<if test="dto.relationship != null and dto.relationship != ''">
			and t1.RELATIONSHIP = #{dto.relationship}
		</if>
		<if test="dto.userName != null and dto.userName != ''">
			and t1.USER_NAME = #{dto.userName}
		</if>
		<if test="dto.userTelephone != null and dto.userTelephone != ''">
			and t1.USER_TELEPHONE = #{dto.userTelephone}
		</if>
		<if test="dto.investigationStatus != null and dto.investigationStatus != ''">
			and t1.INVESTIGATION_STATUS = #{dto.investigationStatus}
		</if>
		<if test="dto.homeAddress != null and dto.homeAddress != ''">
			and t1.HOME_ADDRESS = #{dto.homeAddress}
		</if>
		<if test="dto.companyName != null and dto.companyName != ''">
			and t1.COMPANY_NAME = #{dto.companyName}
		</if>
		<if test="dto.remark != null and dto.remark != ''">
			and t1.REMARK = #{dto.remark}
		</if>
		<if test="dto.creationTime != null and dto.creationTime != ''">
			and t1.CREATION_TIME = #{dto.creationTime}
		</if>
		<if test="dto.updateTime != null and dto.updateTime != ''">
			and t1.UPDATE_TIME = #{dto.updateTime}
		</if>
		<if test="dto.type != null and dto.type != ''">
			and t1.TYPE = #{dto.type}
		</if>
		<if test="dto.valueStatus != null and dto.valueStatus != ''">
			and t1.VALUE_STATUS = #{dto.valueStatus}
		</if>
	</select>
	<!-- 根据订单号查询列表car_loan_survey_contacts -->
	<select id="querySurveyContactsInfoByOrderNum" parameterType="java.util.Map" resultMap="CarLoanSurveyContactsDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.car_loan_user_id               ,
		t1.contact_type                   ,
		t1.relationship                   ,
		t1.user_name                      ,
		t1.user_telephone                 ,
		t1.investigation_status           ,
		t1.home_address                   ,
		t1.company_name                   ,
		t1.remark                         ,
		t1.creation_time                  ,
		t1.update_time                    ,
		t1.type                           ,
		t1.value_status
		from car_loan_survey_contacts 	 t1
		where
		t1.order_number = #{orderNumber} AND  t1.value_status=1
		order by t1.id desc
	</select>

	<!-- 循环添加客户原始联系人 car_loan_survey_contacts -->
	<insert id="insertCarLoanSurveyContactsList" parameterType="java.util.Map" >
		insert into car_loan_survey_contacts
		(

		order_number                   ,
		car_loan_user_id               ,
		contact_type                   ,
		relationship                   ,
		user_name                      ,
		user_telephone                 ,
		investigation_status           ,
		home_address                   ,
		company_name                   ,
		remark                         ,
		creation_time                  ,
		update_time                    ,
		type                           ,
		value_status
		)
		values
		<foreach collection="list" item="dto"   separator=",">
			(
			#{dto.orderNumber,jdbcType=VARCHAR}
			,
			#{dto.carLoanUserId,jdbcType=VARCHAR}
			,
			#{dto.contactType,jdbcType=VARCHAR}
			,
			#{dto.relationship,jdbcType=VARCHAR}
			,
			#{dto.userName,jdbcType=VARCHAR}
			,
			#{dto.userTelephone,jdbcType=VARCHAR}
			,
			#{dto.investigationStatus,jdbcType=VARCHAR}
			,
			#{dto.homeAddress,jdbcType=VARCHAR}
			,
			#{dto.companyName,jdbcType=VARCHAR}
			,
			#{dto.remark,jdbcType=VARCHAR}
			,
			now()
			,
			now()
			,
			'0'
			,
			'1'
			)
		</foreach>

	</insert>

</mapper>