<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.modules.loan.carloansurveyinfo.dao.CarLoanSurveyInfoDao">
	<resultMap id="CarLoanSurveyInfoDTO" type="com.car.modules.loan.carloansurveyinfo.dto.CarLoanSurveyInfoDTO">
		<result property="id" column="id" jdbcType="DECIMAL" />
		<result property="orderNumber" column="ORDER_NUMBER" jdbcType="VARCHAR" />
		<result property="surveyContactsId" column="SURVEY_CONTACTS_ID" jdbcType="VARCHAR" />
		<result property="otherRemark" column="OTHER_REMARK" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
		<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
	</resultMap>

	<!-- 分页查询 car_loan_survey_info -->
	<select id="searchCarLoanSurveyInfoByPaging" parameterType="java.util.Map" resultMap="CarLoanSurveyInfoDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.survey_contacts_id             ,
		t1.other_remark                   ,
		t1.create_time                    ,
		t1.update_time

		from car_loan_survey_info 	t1
		where 1=1
		<if test="dto.id != null and dto.id != ''">
			and t1.id =#{dto.id}
		</if>
		<if test="dto.orderNumber != null and dto.orderNumber != ''">
			and t1.ORDER_NUMBER =#{dto.orderNumber}
		</if>
		<if test="dto.surveyContactsId != null and dto.surveyContactsId != ''">
			and t1.SURVEY_CONTACTS_ID =#{dto.surveyContactsId}
		</if>
		<if test="dto.otherRemark != null and dto.otherRemark != ''">
			and t1.OTHER_REMARK =#{dto.otherRemark}
		</if>
		<if test="dto.createTime != null and dto.createTime != ''">
			and t1.CREATE_TIME =#{dto.createTime}
		</if>
		<if test="dto.updateTime != null and dto.updateTime != ''">
			and t1.UPDATE_TIME =#{dto.updateTime}
		</if>

		order by t1.id desc
	</select>

	<!-- 查询列表 car_loan_survey_info  -->
	<select id="searchCarLoanSurveyInfo" parameterType="java.util.Map" resultMap="CarLoanSurveyInfoDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.survey_contacts_id             ,
		t1.other_remark                   ,
		t1.create_time                    ,
		t1.update_time
		from car_loan_survey_info 		t1
		where 1=1
		<if test="dto.id != null and dto.id != ''">
			and t1.id = #{dto.id}
		</if>
		<if test="dto.orderNumber != null and dto.orderNumber != ''">
			and t1.ORDER_NUMBER = #{dto.orderNumber}
		</if>
		<if test="dto.surveyContactsId != null and dto.surveyContactsId != ''">
			and t1.SURVEY_CONTACTS_ID = #{dto.surveyContactsId}
		</if>
		<if test="dto.otherRemark != null and dto.otherRemark != ''">
			and t1.OTHER_REMARK = #{dto.otherRemark}
		</if>
		<if test="dto.createTime != null and dto.createTime != ''">
			and t1.CREATE_TIME = #{dto.createTime}
		</if>
		<if test="dto.updateTime != null and dto.updateTime != ''">
			and t1.UPDATE_TIME = #{dto.updateTime}
		</if>
	</select>

	<!-- 主键查询对象  car_loan_survey_info -->
	<select id="findCarLoanSurveyInfoByPrimaryKey" parameterType="java.util.Map" resultMap="CarLoanSurveyInfoDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.survey_contacts_id             ,
		t1.other_remark                   ,
		t1.create_time                    ,
		t1.update_time
		from car_loan_survey_info 		t1
		where
		t1.id = #{id}
	</select>

	<!-- 新增对象 car_loan_survey_info -->
	<insert id="insertCarLoanSurveyInfo" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="dto.id">
		insert into car_loan_survey_info
		(

		order_number                   ,
		survey_contacts_id             ,
		other_remark                   ,
		create_time                    ,
		update_time
		)
		values(
		#{dto.orderNumber,jdbcType=VARCHAR}
		,
		#{dto.surveyContactsId,jdbcType=VARCHAR}
		,
		#{dto.otherRemark,jdbcType=VARCHAR}
		,
		#{dto.createTime,jdbcType=TIMESTAMP}
		,
		#{dto.updateTime,jdbcType=TIMESTAMP}

		)
	</insert>

	<!-- 更新对象 car_loan_survey_info -->
	<update id="updateCarLoanSurveyInfo" parameterType="java.util.Map">
		update car_loan_survey_info t1
		set
		<if test="dto.otherRemark != null and dto.otherRemark != ''">
			t1.other_remark                   =#{dto.otherRemark,jdbcType=VARCHAR},
		</if>
		<if test="dto.updateTime != null">
			t1.update_time                    =#{dto.updateTime,jdbcType=TIMESTAMP}
		</if>
		where t1.id = #{dto.id}
	</update>


	<select id="queryLikeCarLoanSurveyInfo" parameterType="java.util.Map" resultMap="CarLoanSurveyInfoDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.survey_contacts_id             ,
		t1.other_remark                   ,
		t1.create_time                    ,
		t1.update_time
		from car_loan_survey_info 		t1
		where 1=1
		<if test="dto.id != null and dto.id != ''">
			and t1.id = #{dto.id}
		</if>
		<if test="dto.orderNumber != null and dto.orderNumber != ''">
			and t1.ORDER_NUMBER = #{dto.orderNumber}
		</if>
		<if test="dto.surveyContactsId != null and dto.surveyContactsId != ''">
			and t1.SURVEY_CONTACTS_ID = #{dto.surveyContactsId}
		</if>
		<if test="dto.otherRemark != null and dto.otherRemark != ''">
			and t1.OTHER_REMARK = #{dto.otherRemark}
		</if>
		<if test="dto.createTime != null and dto.createTime != ''">
			and t1.CREATE_TIME = #{dto.createTime}
		</if>
		<if test="dto.updateTime != null and dto.updateTime != ''">
			and t1.UPDATE_TIME = #{dto.updateTime}
		</if>
	</select>

	<!-- 主键查询对象  car_loan_survey_info -->
	<select id="queryCarLoanSurveyInfoBySurveyContactsId" parameterType="java.util.Map" resultMap="CarLoanSurveyInfoDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.survey_contacts_id             ,
		t1.other_remark                   ,
		t1.create_time                    ,
		t1.update_time
		from car_loan_survey_info 		t1
		where
		t1.survey_contacts_id = #{survey_contacts_id}
	</select>
	<!-- 主键查询对象  car_loan_survey_info -->
	<select id="queryCarLoanSurveyInfoByOrderNumber" parameterType="java.util.Map" resultMap="CarLoanSurveyInfoDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.survey_contacts_id             ,
		t1.other_remark                   ,
		t1.create_time                    ,
		t1.update_time
		from car_loan_survey_info 		t1
		where
		t1.order_number = #{order_number}
		 and  t1.survey_contacts_id = #{survey_contacts_id}
	</select>
</mapper>