<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.modules.loan.Jdbcquery.dao.Jdbcquery">


 
   
<!-- 主键查询对象  LB_T_CUST_ATTACH -->
<select id="getQueryMap"  parameterType="java.util.Map" resultType="java.util.HashMap">
			${exesql}
</select>
<!-- 根据orgName查询id -->
<select id="getsysOrgID" parameterType="java.lang.String" resultType="java.lang.Long">

   SELECT ll.id from  sys_org  ll WHERE ll.ORG_NAME=#{Orgname} limit 1
		 
</select>
 

 
  <!-- 根据进件系统传的md查询是否存在 -->
 <select id="getCountQuery" resultType="java.lang.Integer"  parameterType="java.util.HashMap">
	SELECT count(T1.ID) from lb_t_cust_attach T1 where  T1.FK_INTO_ID=#{intoId} and T1.HISTORY_MD5=#{md}
</select>
 
 
 
</mapper>