<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.modules.jbpm.dao.MyTaskDao">
    <resultMap id="MyTaskDTO" type="com.car.modules.jbpm.dto.MyTaskDTO">
        <result property="pROACTIVITYFORM" column="PRO_ACTIVITY_FORM" jdbcType="VARCHAR" />
        <result property="fORMID" column="FORM_ID" jdbcType="VARCHAR" />
        <result property="cUROWNER" column="CUR_OWNER" jdbcType="VARCHAR" />
        <result property="bIZINFNO" column="BIZ_INF_NO" jdbcType="VARCHAR" />
        <result property="uSERNAME" column="USER_NAME" jdbcType="VARCHAR" />
        <result property="pHONENUMBER" column="PHONE_NUMBER" jdbcType="VARCHAR" />
        <result property="bIZTYPE" column="BIZ_TYPE" jdbcType="VARCHAR" />
        <result property="pRODUCTNAME" column="PRODUCT_NAME" jdbcType="VARCHAR" />
        <result property="oRDERSTATUS" column="ORDER_STATUS" jdbcType="VARCHAR" />
        <result property="tASKID" column="TASKID" jdbcType="VARCHAR" />
        <result property="cURACTNAME" column="CUR_ACT_NAME" jdbcType="VARCHAR" />
        <result property="cUREXEID" column="CUR_EXE_ID" jdbcType="VARCHAR" />
        <result property="lOCKSTATE" column="LOCK_STATE" jdbcType="VARCHAR" />
        <result property="tRANSITION" column="TRANSITION" jdbcType="VARCHAR" />
        <result property="pRODUCTTYPE" column="PRODUCT_TYPE" jdbcType="VARCHAR" />
        <result property="eNTRYORGID" column="ENTRY_ORG_ID" jdbcType="VARCHAR" />
        <result property="eNTRYORGName" column="ENTRY_ORG_Name" jdbcType="VARCHAR" />
        <result property="cUSTOMERMANAGER" column="CUSTOMER_MANAGER" jdbcType="VARCHAR" />
        <result property="eNTRYDATE" column="ENTRY_DATE" jdbcType="VARCHAR" />
        <result property="eNDDATE" column="END_DATE" jdbcType="VARCHAR" />
        <result property="bIZINFID" column="BIZ_INF_ID" jdbcType="VARCHAR" />
        <result property="bIZTABNAME" column="BIZ_TAB_NAME" jdbcType="VARCHAR" />
        <result property="bIZTABID" column="BIZ_TAB_ID" jdbcType="VARCHAR" />
        <result property="aCTIVITYNAME" column="ACTIVITY_NAME" jdbcType="VARCHAR" />

    </resultMap>
    <select id="searchCarMyTaskByPaging" parameterType="java.util.Map" resultMap="MyTaskDTO">
        select t2.BIZ_INF_NO, t5.USER_NAME,t5.PHONE_NUMBER,t2.BIZ_TYPE ,getDetailName(t3.AUDITE_STATE,'CD_AUDITE_STATE') ORDER_STATUS
        ,t1.ID  TASKID,
        t1.ACTIVITY_NAME CUR_ACT_NAME,
        t1.PRO_INSTANCE_ID CUR_EXE_ID,
        t2.BIZ_TAB_NAME BIZ_TAB_NAME,
        t2.ID BIZ_TAB_ID,
        t1.ASSIGNEE CUR_OWNER,
        t3.PRODUCT_TYPE ,t3.ENTRY_ORG_ID,t3.ENTRY_ORG_Name,t3.CUSTOMER_MANAGER,
        DATE_FORMAT(t3.CREATION_TIME ,'%Y-%m-%d %H:%i:%s')ENTRY_DATE,t3.ONE_END END_DATE,t2.BIZ_INF_ID,t1.ACTIVITY_NAME
        from jbpm4_task t1  INNER JOIN jbpm4_biz_tab t2 ON t1.PRO_INSTANCE_ID =t2.PRO_INSTANCE_ID
        LEFT JOIN CAR_LOAN_INFO t3 ON t3.ORDER_NUMBER=t2.BIZ_INF_NO
        LEFT JOIN CAR_LOAN_USER  t5 On  t3.ORDER_NUMBER=t5.ORDER_NUMBER
        where 1=1
        AND  t1.ASSIGNEE=#{dto.aSSIGNEE}
        AND t2.IS_OVER=0
        <if test="dto.bIZINFNO != null and dto.bIZINFNO != '' ">
            AND t2.BIZ_INF_NO=#{dto.bIZINFNO}
        </if>
        <if test="dto.uSERNAME != null and dto.uSERNAME != '' ">
            AND t5.USER_NAME=#{dto.uSERNAME}
        </if>

        <if test="dto.bIZTYPE != null and dto.bIZTYPE != '' ">
            AND t2.BIZ_TYPE=#{dto.bIZTYPE}
        </if>
        <if test="dto.cUSTOMERMANAGER != null and dto.cUSTOMERMANAGER != '' ">
            AND t3.CUSTOMER_MANAGER=#{dto.cUSTOMERMANAGER}
        </if>
        <if test="dto.secondlevelid != null and dto.secondlevelid != '' ">
            AND t3.SECOND_LEVEL_ID=#{dto.SECONDLEVELID}
        </if>
        <if test="dto.eNTRYORGID != null and dto.eNTRYORGID != '' ">
            AND t3.ENTRY_ORG_ID=#{dto.eNTRYORGID}
        </if>
        <if test="dto.oRDERSTATUS != null and dto.oRDERSTATUS != '' ">
            AND t3.AUDITE_STATE=#{dto.oRDERSTATUS}
        </if>
        <if test="dto.crMsgdateStr != null and dto.crMsgdateStr != '' ">
            AND t3.CREATION_TIME>=#{dto.crMsgdateStr}
        </if>
        <if test="dto.crMsgdateEnd != null and dto.crMsgdateEnd != '' ">
            AND t3.CREATION_TIME <![CDATA[ <= ]]> #{dto.crMsgdateEnd}
        </if>
        order by t1.ID desc
    </select>
    <select id="searchCaDonerMyTaskByPaging" parameterType="java.util.Map" resultMap="MyTaskDTO">
        select  t2.BIZ_INF_NO, t5.USER_NAME,t5.PHONE_NUMBER,t2.BIZ_TYPE ,t4.PRODUCT_NAME,getDetailName(t3.AUDITE_STATE,'CD_AUDITE_STATE') ORDER_STATUS
        ,t1.ID TASKID,
        t1.PRO_INSTANCE_ID CUR_EXE_ID,
        t2.BIZ_TAB_NAME BIZ_TAB_NAME,
        t2.ID BIZ_TAB_ID,
        t1.ASSIGNEE CUR_OWNER,
        t3.PRODUCT_TYPE ,t3.ENTRY_ORG_ID,t3.ENTRY_ORG_Name,t3.CUSTOMER_MANAGER,
        DATE_FORMAT(t3.CREATION_TIME ,'%Y-%m-%d %H:%i:%s') crMsgdate,
        DATE_FORMAT(t3.CREATION_TIME,'%Y-%m-%d %H:%i:%s') ENTRY_DATE,
        DATE_FORMAT(t3.ONE_END ,'%Y-%m-%d %H:%i:%s')   END_DATE,
        t2.BIZ_INF_ID,t1.ACTIVITY_NAME CUR_ACT_NAME
        from jbpm4_hist_task t1 INNER JOIN jbpm4_biz_tab t2 ON t1.PRO_INSTANCE_ID =t2.PRO_INSTANCE_ID
        LEFT JOIN CAR_LOAN_INFO t3 ON t3.ORDER_NUMBER=t2.BIZ_INF_NO
        LEFT JOIN lb_t_product_conf t4 ON t4.PRODUCT_CODE=t3.PRODUCT_TYPE
        LEFT JOIN CAR_LOAN_USER  t5 On  t3.ORDER_NUMBER=t5.ORDER_NUMBER
        where 1=1
        AND t1.ASSIGNEE = #{dto.aSSIGNEE}
        AND t1.END_TIME IS NOT NULL
        AND t2.IS_OVER=0
        <if test="dto.bIZINFNO != null and dto.bIZINFNO != '' ">
            AND t2.BIZ_INF_NO=#{dto.bIZINFNO}
        </if>
        <if test="dto.uSERNAME != null and dto.uSERNAME != '' ">
            AND t5.USER_NAME=#{dto.uSERNAME}
        </if>

        <if test="dto.bIZTYPE != null and dto.bIZTYPE != '' ">
            AND t2.BIZ_TYPE=#{dto.bIZTYPE}
        </if>
        <if test="dto.cUSTOMERMANAGER != null and dto.cUSTOMERMANAGER != '' ">
            AND t3.CUSTOMER_MANAGER=#{dto.cUSTOMERMANAGER}
        </if>
        <if test="dto.secondlevelid != null and dto.secondlevelid != '' ">
            AND t3.SECOND_LEVEL_ID=#{dto.SECONDLEVELID}
        </if>
        <if test="dto.eNTRYORGID != null and dto.eNTRYORGID != '' ">
            AND t3.ENTRY_ORG_ID=#{dto.eNTRYORGID}
        </if>
        <if test="dto.oRDERSTATUS != null and dto.oRDERSTATUS != '' ">
            AND t3.AUDITE_STATE=#{dto.oRDERSTATUS}
        </if>
        <if test="dto.crMsgdateStr != null and dto.crMsgdateStr != '' ">
            AND t3.CREATION_TIME>=#{dto.crMsgdateStr}
        </if>
        <if test="dto.crMsgdateEnd != null and dto.crMsgdateEnd != '' ">
            AND t3.CREATION_TIME <![CDATA[ <= ]]> #{dto.crMsgdateEnd}
        </if>
        order by t1.ID desc
    </select>
    <select id="searchCarEndMyTaskByPaging" parameterType="java.util.Map" resultMap="MyTaskDTO">
        select  t2.BIZ_INF_NO, t5.USER_NAME,t5.PHONE_NUMBER,t2.BIZ_TYPE ,t4.PRODUCT_NAME,getDetailName(t3.AUDITE_STATE,'CD_AUDITE_STATE') ORDER_STATUS
        ,t2.ID TASKID,
        t2.PRO_INSTANCE_ID CUR_EXE_ID,
        t2.BIZ_TAB_NAME BIZ_TAB_NAME,
        t2.ID BIZ_TAB_ID,
        t3.PRODUCT_TYPE ,t3.ENTRY_ORG_ID,t3.ENTRY_ORG_Name,t3.CUSTOMER_MANAGER,
        DATE_FORMAT(t3.ONE_START,'%Y-%m-%d %H:%i:%s') ENTRY_DATE,
        DATE_FORMAT(t3.ONE_END,'%Y-%m-%d %H:%i:%s') END_DATE,
        DATE_FORMAT(t3.CREATION_TIME,'%Y-%m-%d %H:%i:%s') crMsgdate,
        t2.BIZ_INF_ID,(SELECT  T11.NEXT_TRANSITION
        FROM jbpm4_hist_task T11
        WHERE T11.PRO_INSTANCE_ID =t2.PRO_INSTANCE_ID   order by T11.CREATE_TIME DESC LIMIT 1) AS TRANSITION
        from  jbpm4_biz_tab t2
        LEFT JOIN CAR_LOAN_INFO t3 ON t3.ORDER_NUMBER=t2.BIZ_INF_NO
        LEFT JOIN lb_t_product_conf t4 ON t4.PRODUCT_CODE=t3.PRODUCT_TYPE
        LEFT JOIN CAR_LOAN_USER  t5 On  t3.ORDER_NUMBER=t5.ORDER_NUMBER
        where 1=1
        AND t2.IS_OVER=1
        AND ( t2.BIZ_INF_NO IN (select t10.BIZ_INF_NO from jbpm4_hist_task t9 INNER JOIN jbpm4_biz_tab t10
        ON t9.PRO_INSTANCE_ID =t10.PRO_INSTANCE_ID LEFT JOIN sys_user t6 ON  t6.ID =#{dto.aSSIGNEE}))
        <if test="dto.bIZINFNO != null and dto.bIZINFNO != '' ">
            AND t2.BIZ_INF_NO=#{dto.bIZINFNO}
        </if>
        <if test="dto.uSERNAME != null and dto.uSERNAME != '' ">
            AND t5.USER_NAME=#{dto.uSERNAME}
        </if>

        <if test="dto.bIZTYPE != null and dto.bIZTYPE != '' ">
            AND t2.BIZ_TYPE=#{dto.bIZTYPE}
        </if>
        <if test="dto.cUSTOMERMANAGER != null and dto.cUSTOMERMANAGER != '' ">
            AND t3.CUSTOMER_MANAGER=#{dto.cUSTOMERMANAGER}
        </if>
        <if test="dto.oRDERSTATUS != null and dto.oRDERSTATUS != '' ">
            AND t3.AUDITE_STATE=#{dto.oRDERSTATUS}
        </if>
        <if test="dto.eNDDATEStr != null and dto.eNDDATEStr != '' ">
            AND t3.ONE_END>=#{dto.eNDDATEStr}
        </if>
        <if test="dto.eNDDATEEnd != null and dto.eNDDATEEnd != '' ">
            AND t3.ONE_END <![CDATA[ <= ]]> #{dto.eNDDATEEnd}
        </if>

        <if test="dto.eNTRYDATEStr != null and dto.eNTRYDATEStr != '' ">
            AND t3.ONE_START >=#{dto.eNTRYDATEStr}
        </if>
        <if test="dto.eNTRYDATEEnd != null and dto.eNTRYDATEEnd != '' ">
            AND t3.ONE_START <![CDATA[ <= ]]> #{dto.eNTRYDATEEnd}
        </if>
        <if test="dto.crMsgdateStr != null and dto.crMsgdateStr != '' ">
            AND t3.CREATION_TIME>=#{dto.crMsgdateStr}
        </if>
        <if test="dto.crMsgdateEnd != null and dto.crMsgdateEnd != '' ">
            AND t3.CREATION_TIME <![CDATA[ <= ]]> #{dto.crMsgdateEnd}
        </if>
        <if test="dto.pRODUCTTYPE != null and dto.pRODUCTTYPE != '' ">
            AND t3.PRODUCT_SERIES=#{dto.pRODUCTTYPE}
        </if>
        <if test="dto.secondlevelid != null and dto.secondlevelid != '' ">
            AND t3.SECOND_LEVEL_ID=#{dto.SECONDLEVELID}
        </if>
        <if test="dto.eNTRYORGID != null and dto.eNTRYORGID != '' ">
            AND t3.ENTRY_ORG_ID=#{dto.eNTRYORGID}
        </if>
        order by t2.ID desc
    </select>

    <select id="updateCarStartEndTime" parameterType="java.util.Map">
                 {call updateCarStartEndTime(
    #{in_id,jdbcType=VARCHAR,mode=IN})}
    </select>

</mapper>