<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carloan.service.master.sysconfig.dao.SysConfigDao">
    <resultMap id="SysConfigDTO" type="com.carloan.service.master.sysconfig.dto.SysConfigDTO">
        <result property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="configName" column="CONFIG_NAME" jdbcType="VARCHAR"/>
        <result property="configCode" column="CONFIG_CODE" jdbcType="VARCHAR"/>
        <result property="configValue" column="CONFIG_VALUE" jdbcType="VARCHAR"/>
        <result property="configType" column="CONFIG_TYPE" jdbcType="VARCHAR"/>
        <result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR"/>
        <result property="version" column="VERSION" jdbcType="DECIMAL"/>
    </resultMap>

    <!-- 新增对象 sys_config -->
    <insert id="insertSysConfig" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="dto.id">
        insert into sys_config
        (
        config_name                    ,
        config_code                    ,
        config_value                   ,
        config_type                    ,
        validate_state                 ,
        version
        )
        values(
        #{dto.configName,jdbcType=VARCHAR}
        ,
        #{dto.configCode,jdbcType=VARCHAR}
        ,
        #{dto.configValue,jdbcType=VARCHAR}
        ,
        #{dto.configType,jdbcType=VARCHAR}
        ,
        '1'
        ,
        #{dto.version,jdbcType=DECIMAL}

        )
    </insert>
    <!-- 更新对象 sys_config -->
    <update id="updateSysConfig" parameterType="java.util.Map">
        update sys_config t1
        set
        <if test="dto.configName != null and dto.configName != ''">
            t1.config_name =#{dto.configName,jdbcType=VARCHAR},
        </if>
        <if test="dto.configCode != null and dto.configCode != ''">
            t1.config_code =#{dto.configCode,jdbcType=VARCHAR},
        </if>
        <if test="dto.configValue != null and dto.configValue != ''">
            t1.config_value =#{dto.configValue,jdbcType=VARCHAR},
        </if>
        <if test="dto.configType != null and dto.configType != ''">
            t1.config_type =#{dto.configType,jdbcType=VARCHAR},
        </if>
        t1.version =#{dto.version,jdbcType=BIGINT}
        where t1.id = #{dto.id}
    </update>
    <!-- 主键假删除 SYS_CONFIG -->
    <update id="deleteSysConfig" parameterType="java.util.Map">
        update sys_config t1
        set   t1.validate_state='0'
        where t1.id in( ${ids})
    </update>

    <!-- 分页查询 sys_config  -->
    <select id="queryPage" parameterType="java.util.Map" resultMap="SysConfigDTO">
        select
        t1.id ,
        t1.config_name ,
        t1.config_code ,
        t1.config_value ,
        t1.config_type ,
        t1.validate_state ,
        t1.version
        from sys_config t1
        where 1=1
        and t1.VALIDATE_STATE = 1
        <if test="dto.configName != null and dto.configName != ''">
            and t1.CONFIG_NAME LIKE "%"#{dto.configName}"%"
        </if>
        <if test="dto.configCode != null and dto.configCode != ''">
            and t1.CONFIG_CODE LIKE "%"#{dto.configCode}"%"
        </if>
        <if test="dto.configValue != null and dto.configValue != ''">
            and t1.CONFIG_VALUE LIKE "%"#{dto.configValue}"%"
        </if>
        <if test="dto.configType != null and dto.configType != ''">
            and t1.CONFIG_TYPE = #{dto.configType}
        </if>
        order by t1.id desc
    </select>

    <!-- 主键查询对象  sys_config -->
    <select id="findSysConfigByPrimaryKey" parameterType="java.util.Map" resultMap="SysConfigDTO">
   	 		select 
					t1.id                             ,
					t1.config_name                    ,
					t1.config_code                    ,
					t1.config_value                   ,
					t1.config_type                    ,
					t1.validate_state                 ,
					t1.version                        
			from sys_config 		t1
			where 
				t1.id = #{id}
</select>

    <select id="getValueByCode" parameterType="java.lang.String" resultType="java.lang.String">
        select
        t1.config_value
        from sys_config 		t1
        where
        t1.VALIDATE_STATE = 1 AND
        t1.config_code = #{code}
        LIMIT 1
    </select>
</mapper>
