<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.modules.loan.carloanmsg.dao.CarLoanMsgDao">
<resultMap id="CarLoanMsgDTO" type="com.car.modules.loan.carloanmsg.dto.CarLoanMsgDTO">
				<result property="id" column="id" jdbcType="DECIMAL" />
				<result property="orderNumber" column="ORDER_NUMBER" jdbcType="VARCHAR" />
				<result property="lesseeName" column="LESSEE_USER_NAME" jdbcType="VARCHAR" />
				<result property="idCard" column="LESSEE_USER_NUMBER" jdbcType="VARCHAR" />
				<result property="carBrand" column="VEHICLE_BRAND" jdbcType="VARCHAR" />
				<result property="carType" column="CAR_TYPE" jdbcType="VARCHAR" />
				<result property="carModelConfig" column="CAR_MODEL" jdbcType="VARCHAR" />
				<result property="carNumber" column="CAR_NUMBER" jdbcType="VARCHAR" />
				<result property="carFrameNumber" column="CAR_FRAME_NUMBER" jdbcType="VARCHAR" />
				<result property="carNumberDate" column="INITIAL_DATE" jdbcType="VARCHAR" />
				<result property="manufactureDate" column="DELIVERY_DATE" jdbcType="VARCHAR" />
				<result property="carColor" column="CAR_COLOUR" jdbcType="VARCHAR" />
				<result property="strongRiskDueDate" column="MATURITY_DATE" jdbcType="VARCHAR" />
				<result property="engineNumber" column="ENGINE_NUMBER" jdbcType="VARCHAR" />
				<result property="carManufacturers" column="MANUFACTURER" jdbcType="VARCHAR" />
				<result property="purchaseNumber" column="PURCHASE_QUANTITY" jdbcType="VARCHAR" />
				<result property="carDrivingKilometres" column="KILOMETRE_NUMBER" jdbcType="VARCHAR" />
				<result property="numberOfTransfer" column="TRANSFER_NUMBER" jdbcType="VARCHAR" />
				<result property="appraiserName" column="STORE_APPRAISER" jdbcType="VARCHAR" />
				<result property="appraiserNote" column="STORE_REMARKS" jdbcType="VARCHAR" />
				<result property="description" column="HOLISTIC_DESCRIPTION" jdbcType="VARCHAR" />
				<result property="creationTime" column="CREATION_TIME" jdbcType="TIMESTAMP" />
				<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
				<result property="auditeState" column="AUDITE_STATE" jdbcType="VARCHAR" />
				<result property="operateUser" column="OPERATE_USER" jdbcType="VARCHAR" />
</resultMap>
				
<!-- 分页查询 CAR_LOAN_MSG -->	
<select id="searchCarLoanMsgByPaging" parameterType="java.util.Map" resultMap="CarLoanMsgDTO">
    	 		select 
						t1.id                             ,
						t1.order_number                   ,
						t1.lessee_user_name               ,
						t1.lessee_user_number             ,
						t1.vehicle_brand                  ,
						t1.car_type                       ,
						t1.car_model                      ,
						t1.car_number                     ,
						t1.car_frame_number               ,
						t1.initial_date                   ,
						t1.delivery_date                  ,
						t1.car_colour                     ,
						t1.maturity_date                  ,
						t1.engine_number                  ,
						t1.manufacturer                   ,
						t1.purchase_quantity              ,
						t1.kilometre_number               ,
						t1.transfer_number                ,
						t1.store_appraiser                ,
						t1.store_remarks                  ,
						t1.holistic_description           ,
						t1.creation_time                  ,
						t1.update_time                    
					
				from car_loan_msg 	t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.id =#{dto.id}
    			</if>
    			<if test="dto.orderNumber != null and dto.orderNumber != ''">
						and t1.ORDER_NUMBER =#{dto.orderNumber}
    			</if>
    			<if test="dto.lesseeUserName != null and dto.lesseeUserName != ''">
						and t1.LESSEE_USER_NAME =#{dto.lesseeUserName}
    			</if>
    			<if test="dto.lesseeUserNumber != null and dto.lesseeUserNumber != ''">
						and t1.LESSEE_USER_NUMBER =#{dto.lesseeUserNumber}
    			</if>
    			<if test="dto.vehicleBrand != null and dto.vehicleBrand != ''">
						and t1.VEHICLE_BRAND =#{dto.vehicleBrand}
    			</if>
    			<if test="dto.carType != null and dto.carType != ''">
						and t1.CAR_TYPE =#{dto.carType}
    			</if>
    			<if test="dto.carModel != null and dto.carModel != ''">
						and t1.CAR_MODEL =#{dto.carModel}
    			</if>
    			<if test="dto.carNumber != null and dto.carNumber != ''">
						and t1.CAR_NUMBER =#{dto.carNumber}
    			</if>
    			<if test="dto.carFrameNumber != null and dto.carFrameNumber != ''">
						and t1.CAR_FRAME_NUMBER =#{dto.carFrameNumber}
    			</if>
    			<if test="dto.initialDate != null and dto.initialDate != ''">
						and t1.INITIAL_DATE =#{dto.initialDate}
    			</if>
    			<if test="dto.deliveryDate != null and dto.deliveryDate != ''">
						and t1.DELIVERY_DATE =#{dto.deliveryDate}
    			</if>
    			<if test="dto.carColour != null and dto.carColour != ''">
						and t1.CAR_COLOUR =#{dto.carColour}
    			</if>
    			<if test="dto.maturityDate != null and dto.maturityDate != ''">
						and t1.MATURITY_DATE =#{dto.maturityDate}
    			</if>
    			<if test="dto.engineNumber != null and dto.engineNumber != ''">
						and t1.ENGINE_NUMBER =#{dto.engineNumber}
    			</if>
    			<if test="dto.manufacturer != null and dto.manufacturer != ''">
						and t1.MANUFACTURER =#{dto.manufacturer}
    			</if>
    			<if test="dto.purchaseQuantity != null and dto.purchaseQuantity != ''">
						and t1.PURCHASE_QUANTITY =#{dto.purchaseQuantity}
    			</if>
    			<if test="dto.kilometreNumber != null and dto.kilometreNumber != ''">
						and t1.KILOMETRE_NUMBER =#{dto.kilometreNumber}
    			</if>
    			<if test="dto.transferNumber != null and dto.transferNumber != ''">
						and t1.TRANSFER_NUMBER =#{dto.transferNumber}
    			</if>
    			<if test="dto.storeAppraiser != null and dto.storeAppraiser != ''">
						and t1.STORE_APPRAISER =#{dto.storeAppraiser}
    			</if>
    			<if test="dto.storeRemarks != null and dto.storeRemarks != ''">
						and t1.STORE_REMARKS =#{dto.storeRemarks}
    			</if>
    			<if test="dto.holisticDescription != null and dto.holisticDescription != ''">
						and t1.HOLISTIC_DESCRIPTION =#{dto.holisticDescription}
    			</if>
    			<if test="dto.creationTime != null and dto.creationTime != ''">
						and t1.CREATION_TIME =#{dto.creationTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME =#{dto.updateTime}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 CAR_LOAN_MSG  -->
<select id="searchCarLoanMsg" parameterType="java.util.Map" resultMap="CarLoanMsgDTO">
    	     select 
						t1.id                             ,
						t1.order_number                   ,
						t1.lessee_user_name               ,
						t1.lessee_user_number             ,
						t1.vehicle_brand                  ,
						t1.car_type                       ,
						t1.car_model                      ,
						t1.car_number                     ,
						t1.car_frame_number               ,
						t1.initial_date                   ,
						t1.delivery_date                  ,
						t1.car_colour                     ,
						t1.maturity_date                  ,
						t1.engine_number                  ,
						t1.manufacturer                   ,
						t1.purchase_quantity              ,
						t1.kilometre_number               ,
						t1.transfer_number                ,
						t1.store_appraiser                ,
						t1.store_remarks                  ,
						t1.holistic_description           ,
						t1.creation_time                  ,
						t1.update_time                    
				from car_loan_msg 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.id = #{dto.id}
    			</if>
    			<if test="dto.orderNumber != null and dto.orderNumber != ''">
						and t1.ORDER_NUMBER = #{dto.orderNumber}
    			</if>
    			<if test="dto.lesseeUserName != null and dto.lesseeUserName != ''">
						and t1.LESSEE_USER_NAME = #{dto.lesseeUserName}
    			</if>
    			<if test="dto.lesseeUserNumber != null and dto.lesseeUserNumber != ''">
						and t1.LESSEE_USER_NUMBER = #{dto.lesseeUserNumber}
    			</if>
    			<if test="dto.vehicleBrand != null and dto.vehicleBrand != ''">
						and t1.VEHICLE_BRAND = #{dto.vehicleBrand}
    			</if>
    			<if test="dto.carType != null and dto.carType != ''">
						and t1.CAR_TYPE = #{dto.carType}
    			</if>
    			<if test="dto.carModel != null and dto.carModel != ''">
						and t1.CAR_MODEL = #{dto.carModel}
    			</if>
    			<if test="dto.carNumber != null and dto.carNumber != ''">
						and t1.CAR_NUMBER = #{dto.carNumber}
    			</if>
    			<if test="dto.carFrameNumber != null and dto.carFrameNumber != ''">
						and t1.CAR_FRAME_NUMBER = #{dto.carFrameNumber}
    			</if>
    			<if test="dto.initialDate != null and dto.initialDate != ''">
						and t1.INITIAL_DATE = #{dto.initialDate}
    			</if>
    			<if test="dto.deliveryDate != null and dto.deliveryDate != ''">
						and t1.DELIVERY_DATE = #{dto.deliveryDate}
    			</if>
    			<if test="dto.carColour != null and dto.carColour != ''">
						and t1.CAR_COLOUR = #{dto.carColour}
    			</if>
    			<if test="dto.maturityDate != null and dto.maturityDate != ''">
						and t1.MATURITY_DATE = #{dto.maturityDate}
    			</if>
    			<if test="dto.engineNumber != null and dto.engineNumber != ''">
						and t1.ENGINE_NUMBER = #{dto.engineNumber}
    			</if>
    			<if test="dto.manufacturer != null and dto.manufacturer != ''">
						and t1.MANUFACTURER = #{dto.manufacturer}
    			</if>
    			<if test="dto.purchaseQuantity != null and dto.purchaseQuantity != ''">
						and t1.PURCHASE_QUANTITY = #{dto.purchaseQuantity}
    			</if>
    			<if test="dto.kilometreNumber != null and dto.kilometreNumber != ''">
						and t1.KILOMETRE_NUMBER = #{dto.kilometreNumber}
    			</if>
    			<if test="dto.transferNumber != null and dto.transferNumber != ''">
						and t1.TRANSFER_NUMBER = #{dto.transferNumber}
    			</if>
    			<if test="dto.storeAppraiser != null and dto.storeAppraiser != ''">
						and t1.STORE_APPRAISER = #{dto.storeAppraiser}
    			</if>
    			<if test="dto.storeRemarks != null and dto.storeRemarks != ''">
						and t1.STORE_REMARKS = #{dto.storeRemarks}
    			</if>
    			<if test="dto.holisticDescription != null and dto.holisticDescription != ''">
						and t1.HOLISTIC_DESCRIPTION = #{dto.holisticDescription}
    			</if>
    			<if test="dto.creationTime != null and dto.creationTime != ''">
						and t1.CREATION_TIME = #{dto.creationTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME = #{dto.updateTime}
    			</if>
</select>
  
<!-- 主键查询对象  CAR_LOAN_MSG -->
<select id="findCarLoanMsgByPrimaryKey" parameterType="java.util.Map" resultMap="CarLoanMsgDTO">
   	 		select 
					t1.id                             ,
					t1.order_number                   ,
					t1.lessee_user_name               ,
					t1.lessee_user_number             ,
					t1.vehicle_brand                  ,
					t1.car_type                       ,
					t1.car_model                      ,
					t1.car_number                     ,
					t1.car_frame_number               ,
					t1.initial_date                   ,
					t1.delivery_date                  ,
					t1.car_colour                     ,
					t1.maturity_date                  ,
					t1.engine_number                  ,
					t1.manufacturer                   ,
					t1.purchase_quantity              ,
					t1.kilometre_number               ,
					t1.transfer_number                ,
					t1.store_appraiser                ,
					t1.store_remarks                  ,
					t1.holistic_description           ,
					t1.creation_time                  ,
					t1.update_time                    
			from car_loan_msg 		t1
			where 
				t1.order_number = #{order_number}
</select>

<!-- 新增对象 CAR_LOAN_MSG -->
<insert id="insertCarLoanMsg" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="dto.id">
			insert into car_loan_msg
			(   		
						order_number                   ,
						lessee_user_name               ,
						lessee_user_number             ,
						vehicle_brand                  ,
						car_type                       ,
						car_model                      ,
						car_number                     ,
						car_frame_number               ,
						initial_date                   ,
						delivery_date                  ,
						car_colour                     ,
						maturity_date                  ,
						engine_number                  ,
						manufacturer                   ,
						purchase_quantity              ,
						kilometre_number               ,
						transfer_number                ,
						store_appraiser                ,
						store_remarks                  ,
						holistic_description           ,
						creation_time                  ,
						update_time                    ,
						CAR_INFO_ID
			)
			values(
						#{dto.orderNumber,jdbcType=VARCHAR}
						,
						#{dto.lesseeName,jdbcType=VARCHAR}
						,
						#{dto.idCard,jdbcType=VARCHAR}
						,
						#{dto.carBrand,jdbcType=VARCHAR}
						,
						#{dto.carType,jdbcType=VARCHAR}
						,
						#{dto.carModelConfig,jdbcType=VARCHAR}
						,
						#{dto.carNumber,jdbcType=VARCHAR}
						,
						#{dto.carFrameNumber,jdbcType=VARCHAR}
						,
						#{dto.carNumberDate,jdbcType=VARCHAR}
						,
						#{dto.manufactureDate,jdbcType=VARCHAR}
						,
						#{dto.carColor,jdbcType=VARCHAR}
						,
						#{dto.strongRiskDueDate,jdbcType=VARCHAR}
						,
						#{dto.engineNumber,jdbcType=VARCHAR}
						,
						#{dto.carManufacturers,jdbcType=VARCHAR}
						,
						#{dto.purchaseNumber,jdbcType=VARCHAR}
						,
						#{dto.carDrivingKilometres,jdbcType=VARCHAR}
						,
						#{dto.numberOfTransfer,jdbcType=VARCHAR}
						,
						#{dto.appraiserName,jdbcType=VARCHAR}
						,
						#{dto.appraiserNote,jdbcType=VARCHAR}
						,
						#{dto.description,jdbcType=VARCHAR}
						,
						now()
						,
						#{dto.updateTime,jdbcType=TIMESTAMP}
						,
						#{dto.carinfoid,jdbcType=DECIMAL}
						
			)
</insert>
    
<!-- 更新对象 CAR_LOAN_MSG -->
<update id="updateCarLoanMsg" parameterType="java.util.Map">
	     update car_loan_msg t1
	           set 
			           t1.id                             =#{dto.id,jdbcType=DECIMAL},
			           t1.order_number                   =#{dto.orderNumber,jdbcType=VARCHAR},
			           t1.lessee_user_name               =#{dto.lesseeUserName,jdbcType=VARCHAR},
			           t1.lessee_user_number             =#{dto.lesseeUserNumber,jdbcType=VARCHAR},
			           t1.vehicle_brand                  =#{dto.vehicleBrand,jdbcType=VARCHAR},
			           t1.car_type                       =#{dto.carType,jdbcType=VARCHAR},
			           t1.car_model                      =#{dto.carModel,jdbcType=VARCHAR},
			           t1.car_number                     =#{dto.carNumber,jdbcType=VARCHAR},
			           t1.car_frame_number               =#{dto.carFrameNumber,jdbcType=VARCHAR},
			           t1.initial_date                   =#{dto.initialDate,jdbcType=VARCHAR},
			           t1.delivery_date                  =#{dto.deliveryDate,jdbcType=VARCHAR},
			           t1.car_colour                     =#{dto.carColour,jdbcType=VARCHAR},
			           t1.maturity_date                  =#{dto.maturityDate,jdbcType=VARCHAR},
			           t1.engine_number                  =#{dto.engineNumber,jdbcType=VARCHAR},
			           t1.manufacturer                   =#{dto.manufacturer,jdbcType=VARCHAR},
			           t1.purchase_quantity              =#{dto.purchaseQuantity,jdbcType=VARCHAR},
			           t1.kilometre_number               =#{dto.kilometreNumber,jdbcType=VARCHAR},
			           t1.transfer_number                =#{dto.transferNumber,jdbcType=VARCHAR},
			           t1.store_appraiser                =#{dto.storeAppraiser,jdbcType=VARCHAR},
			           t1.store_remarks                  =#{dto.storeRemarks,jdbcType=VARCHAR},
			           t1.holistic_description           =#{dto.holisticDescription,jdbcType=VARCHAR},
			           t1.creation_time                  =#{dto.creationTime,jdbcType=TIMESTAMP},
			           t1.update_time                    =#{dto.updateTime,jdbcType=TIMESTAMP}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 CAR_LOAN_MSG -->
<delete id="deleteCarLoanMsgByID" parameterType="java.util.Map">
    	delete from car_loan_msg where id in (${ids} )
</delete>
<!-- 主键假删除 CAR_LOAN_MSG -->
<update id="deleteCarLoanMsgByPrimaryKey" parameterType="java.util.Map">
	     update car_loan_msg t1
	           set   t1.valid='0'	
	     where t1.id in( ${ids})
</update>
	<!-- order_number查询对象  CAR_LOAN_MSG -->
	<select id="findCarLoanMsgByOrderNum" parameterType="java.util.Map" resultMap="CarLoanMsgDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.lessee_user_name               ,
		t1.lessee_user_number             ,
		t1.vehicle_brand                  ,
		t1.car_type                       ,
		t1.car_model                      ,
		t1.car_number                     ,
		t1.car_frame_number               ,
		t1.initial_date                   ,
		t1.delivery_date                  ,
		t1.car_colour                     ,
		t1.maturity_date                  ,
		t1.engine_number                  ,
		t1.manufacturer                   ,
		t1.purchase_quantity              ,
		t1.kilometre_number               ,
		t1.transfer_number                ,
		t1.store_appraiser                ,
		t1.store_remarks                  ,
		t1.holistic_description           ,
		t1.creation_time                  ,
		t1.update_time
		from car_loan_msg 		t1
		where
		t1.order_number = #{order_number}
	</select>
	<!-- 更新进件状态 CAR_LOAN_MSG -->
	<update id="updateCarLoanMsgAuditState" parameterType="java.util.Map">
		update car_loan_msg t1
		set
		t1.AUDITE_STATE                  =#{dto.auditeState,jdbcType=VARCHAR},
		t1.OPERATE_USER                  =#{dto.operateUser,jdbcType=DECIMAL},
		t1.update_time                   =CURRENT_TIMESTAMP
		where t1.id = #{dto.id}
	</update>
	<select id="findTaskInfoByOrderNum" parameterType="java.util.Map" resultType="java.util.Map">
		select
		a.DBID_,
		a.execution_id_,
		b.id as biz_tab_id
		from jbpm4_task a
		left join jbpm4_biz_tab b on a.execution_id_=b.pro_instance_id
		where b.biz_inf_no=#{orderNum} and biz_type=#{bizType} limit 1
	</select>

	<!-- 查询列表 CAR_LOAN_MSG  -->
	<select id="searchCarLoanMsgs" parameterType="java.util.Map" resultMap="CarLoanMsgDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.lessee_user_name               ,
		t1.lessee_user_number             ,
		t1.vehicle_brand                  ,
		t1.car_type                       ,
		t1.car_model                      ,
		t1.car_number                     ,
		t1.car_frame_number               ,
		t1.initial_date                   ,
		t1.delivery_date                  ,
		t1.car_colour                     ,
		t1.maturity_date                  ,
		t1.engine_number                  ,
		t1.manufacturer                   ,
		t1.purchase_quantity              ,
		t1.kilometre_number               ,
		t1.transfer_number                ,
		t1.store_appraiser                ,
		t1.store_remarks                  ,
		t1.holistic_description           ,
		t1.creation_time                  ,
		t1.update_time
		from car_loan_msg 		t1
		where t1.ORDER_NUMBER = #{dto.orderNumber}
	</select>
</mapper>