<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.modules.loan.carloanuser.dao.CarLoanUserDao">
<resultMap id="CarLoanUserDTO" type="com.car.modules.loan.carloanuser.dto.CarLoanUserDTO">
				<result property="id" column="id" jdbcType="DECIMAL" />
				<result property="orderNumber" column="ORDER_NUMBER" jdbcType="VARCHAR" />
				<result property="userName" column="USER_NAME" jdbcType="VARCHAR" />
				<result property="sex" column="SEX" jdbcType="VARCHAR" />
				<result property="birthdayDate" column="BIRTHDAY_DATE" jdbcType="VARCHAR" />
				<result property="phoneNumber" column="PHONE_NUMBER" jdbcType="VARCHAR" />
				<result property="idCard" column="ID_CARD" jdbcType="VARCHAR" />
				<result property="certificateValide" column="CERTIFICATE_VALIDE" jdbcType="VARCHAR" />
				<result property="houseAddress" column="HOUSE_ADDRESS" jdbcType="VARCHAR" />
				<result property="contactAddress" column="CONTACT_ADDRESS" jdbcType="VARCHAR" />
				<result property="theporaryPermit" column="THEPORARY_PERMIT" jdbcType="VARCHAR" />
				<result property="contactAddressPhone" column="CONTACT_ADDRESS_PHONE" jdbcType="VARCHAR" />
				<result property="startLivingTime" column="START_LIVING_TIME" jdbcType="VARCHAR" />
				<result property="inCityYear" column="IN_CITY_YEAR" jdbcType="VARCHAR" />
				<result property="supportNumber" column="SUPPORT_NUMBER" jdbcType="VARCHAR" />
				<result property="maritalStatus" column="MARITAL_STATUS" jdbcType="VARCHAR" />
				<result property="education" column="EDUCATION" jdbcType="VARCHAR" />
				<result property="creditCardAmount" column="CREDIT_CARD_AMOUNT" jdbcType="VARCHAR" />
				<result property="houseProperty" column="HOUSE_PROPERTY" jdbcType="VARCHAR" />
				<result property="unitName" column="UNIT_NAME" jdbcType="VARCHAR" />
				<result property="belongDepartment" column="BELONG_DEPARTMENT" jdbcType="VARCHAR" />
				<result property="postName" column="POST_NAME" jdbcType="VARCHAR" />
				<result property="companyPhone" column="COMPANY_PHONE" jdbcType="VARCHAR" />
				<result property="companyAddress" column="COMPANY_ADDRESS" jdbcType="VARCHAR" />
				<result property="companyNature" column="COMPANY_NATURE" jdbcType="VARCHAR" />
				<result property="monthSalary" column="MONTH_SALARY" jdbcType="VARCHAR" />
				<result property="otherIncome" column="OTHER_INCOME" jdbcType="VARCHAR" />
				<result property="positionLevel" column="POSITION_LEVEL" jdbcType="VARCHAR" />
				<result property="inCompanyYear" column="IN_COMPANY_YEAR" jdbcType="VARCHAR" />
				<result property="isPrivateOwner" column="IS_PRIVATE_OWNER" jdbcType="VARCHAR" />
				<result property="spouseName" column="SPOUSE_NAME" jdbcType="VARCHAR" />
				<result property="spousePhone" column="SPOUSE_PHONE" jdbcType="VARCHAR" />
				<result property="spouseEducation" column="SPOUSE_EDUCATION" jdbcType="VARCHAR" />
				<result property="spouseIdCard" column="SPOUSE_ID_CARD" jdbcType="VARCHAR" />
				<result property="spouseCertificateValid" column="SPOUSE_CERTIFICATE_VALID" jdbcType="VARCHAR" />
				<result property="spouseLivingAddress" column="SPOUSE_LIVING_ADDRESS" jdbcType="VARCHAR" />
				<result property="spouseUnitName" column="SPOUSE_UNIT_NAME" jdbcType="VARCHAR" />
				<result property="spouseCompanyPhone" column="SPOUSE_COMPANY_PHONE" jdbcType="VARCHAR" />
				<result property="spouseCompanyAddress" column="SPOUSE_COMPANY_ADDRESS" jdbcType="VARCHAR" />
				<result property="spouseCompanyNature" column="SPOUSE_COMPANY_NATURE" jdbcType="VARCHAR" />
				<result property="spouseMonthSalary" column="SPOUSE_MONTH_SALARY" jdbcType="VARCHAR" />
				<result property="spouseOtherIncome" column="SPOUSE_OTHER_INCOME" jdbcType="VARCHAR" />
				<result property="spousePositionLevel" column="SPOUSE_POSITION_LEVEL" jdbcType="VARCHAR" />
				<result property="spouseInCompanyYear" column="SPOUSE_IN_COMPANY_YEAR" jdbcType="VARCHAR" />
				<result property="spouseIsPrivateOwner" column="SPOUSE_IS_PRIVATE_OWNER" jdbcType="VARCHAR" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
</resultMap>
				
<!-- 分页查询 car_loan_user -->	
<select id="searchCarLoanUserByPaging" parameterType="java.util.Map" resultMap="CarLoanUserDTO">
    	 		select 
						t1.id                             ,
						t1.order_number                   ,
						t1.user_name                      ,
						t1.sex                            ,
						t1.birthday_date                  ,
						t1.phone_number                   ,
						t1.id_card                        ,
						t1.certificate_valide             ,
						t1.house_address                  ,
						t1.contact_address                ,
						t1.theporary_permit               ,
						t1.contact_address_phone          ,
						t1.start_living_time              ,
						t1.in_city_year                   ,
						t1.support_number                 ,
						t1.marital_status                 ,
						t1.education                      ,
						t1.credit_card_amount             ,
						t1.house_property                 ,
						t1.unit_name                      ,
						t1.belong_department              ,
						t1.post_name                      ,
						t1.company_phone                  ,
						t1.company_address                ,
						t1.company_nature                 ,
						t1.month_salary                   ,
						t1.other_income                   ,
						t1.position_level                 ,
						t1.in_company_year                ,
						t1.is_private_owner               ,
						t1.spouse_name                    ,
						t1.spouse_phone                   ,
						t1.spouse_education               ,
						t1.spouse_id_card                 ,
						t1.spouse_certificate_valid       ,
						t1.spouse_living_address          ,
						t1.spouse_unit_name               ,
						t1.spouse_company_phone           ,
						t1.spouse_company_address         ,
						t1.spouse_company_nature          ,
						t1.spouse_month_salary            ,
						t1.spouse_other_income            ,
						t1.spouse_position_level          ,
						t1.spouse_in_company_year         ,
						t1.spouse_is_private_owner        ,
						t1.create_time                    ,
						t1.update_time                    
					
				from car_loan_user 	t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.id =#{dto.id}
    			</if>
    			<if test="dto.orderNumber != null and dto.orderNumber != ''">
						and t1.ORDER_NUMBER =#{dto.orderNumber}
    			</if>
    			<if test="dto.userName != null and dto.userName != ''">
						and t1.USER_NAME =#{dto.userName}
    			</if>
    			<if test="dto.sex != null and dto.sex != ''">
						and t1.SEX =#{dto.sex}
    			</if>
    			<if test="dto.birthdayDate != null and dto.birthdayDate != ''">
						and t1.BIRTHDAY_DATE =#{dto.birthdayDate}
    			</if>
    			<if test="dto.phoneNumber != null and dto.phoneNumber != ''">
						and t1.PHONE_NUMBER =#{dto.phoneNumber}
    			</if>
    			<if test="dto.idCard != null and dto.idCard != ''">
						and t1.ID_CARD =#{dto.idCard}
    			</if>
    			<if test="dto.certificateValide != null and dto.certificateValide != ''">
						and t1.CERTIFICATE_VALIDE =#{dto.certificateValide}
    			</if>
    			<if test="dto.houseAddress != null and dto.houseAddress != ''">
						and t1.HOUSE_ADDRESS =#{dto.houseAddress}
    			</if>
    			<if test="dto.contactAddress != null and dto.contactAddress != ''">
						and t1.CONTACT_ADDRESS =#{dto.contactAddress}
    			</if>
    			<if test="dto.theporaryPermit != null and dto.theporaryPermit != ''">
						and t1.THEPORARY_PERMIT =#{dto.theporaryPermit}
    			</if>
    			<if test="dto.contactAddressPhone != null and dto.contactAddressPhone != ''">
						and t1.CONTACT_ADDRESS_PHONE =#{dto.contactAddressPhone}
    			</if>
    			<if test="dto.startLivingTime != null and dto.startLivingTime != ''">
						and t1.START_LIVING_TIME =#{dto.startLivingTime}
    			</if>
    			<if test="dto.inCityYear != null and dto.inCityYear != ''">
						and t1.IN_CITY_YEAR =#{dto.inCityYear}
    			</if>
    			<if test="dto.supportNumber != null and dto.supportNumber != ''">
						and t1.SUPPORT_NUMBER =#{dto.supportNumber}
    			</if>
    			<if test="dto.maritalStatus != null and dto.maritalStatus != ''">
						and t1.MARITAL_STATUS =#{dto.maritalStatus}
    			</if>
    			<if test="dto.education != null and dto.education != ''">
						and t1.EDUCATION =#{dto.education}
    			</if>
    			<if test="dto.creditCardAmount != null and dto.creditCardAmount != ''">
						and t1.CREDIT_CARD_AMOUNT =#{dto.creditCardAmount}
    			</if>
    			<if test="dto.houseProperty != null and dto.houseProperty != ''">
						and t1.HOUSE_PROPERTY =#{dto.houseProperty}
    			</if>
    			<if test="dto.unitName != null and dto.unitName != ''">
						and t1.UNIT_NAME =#{dto.unitName}
    			</if>
    			<if test="dto.belongDepartment != null and dto.belongDepartment != ''">
						and t1.BELONG_DEPARTMENT =#{dto.belongDepartment}
    			</if>
    			<if test="dto.postName != null and dto.postName != ''">
						and t1.POST_NAME =#{dto.postName}
    			</if>
    			<if test="dto.companyPhone != null and dto.companyPhone != ''">
						and t1.COMPANY_PHONE =#{dto.companyPhone}
    			</if>
    			<if test="dto.companyAddress != null and dto.companyAddress != ''">
						and t1.COMPANY_ADDRESS =#{dto.companyAddress}
    			</if>
    			<if test="dto.companyNature != null and dto.companyNature != ''">
						and t1.COMPANY_NATURE =#{dto.companyNature}
    			</if>
    			<if test="dto.monthSalary != null and dto.monthSalary != ''">
						and t1.MONTH_SALARY =#{dto.monthSalary}
    			</if>
    			<if test="dto.otherIncome != null and dto.otherIncome != ''">
						and t1.OTHER_INCOME =#{dto.otherIncome}
    			</if>
    			<if test="dto.positionLevel != null and dto.positionLevel != ''">
						and t1.POSITION_LEVEL =#{dto.positionLevel}
    			</if>
    			<if test="dto.inCompanyYear != null and dto.inCompanyYear != ''">
						and t1.IN_COMPANY_YEAR =#{dto.inCompanyYear}
    			</if>
    			<if test="dto.isPrivateOwner != null and dto.isPrivateOwner != ''">
						and t1.IS_PRIVATE_OWNER =#{dto.isPrivateOwner}
    			</if>
    			<if test="dto.spouseName != null and dto.spouseName != ''">
						and t1.SPOUSE_NAME =#{dto.spouseName}
    			</if>
    			<if test="dto.spousePhone != null and dto.spousePhone != ''">
						and t1.SPOUSE_PHONE =#{dto.spousePhone}
    			</if>
    			<if test="dto.spouseEducation != null and dto.spouseEducation != ''">
						and t1.SPOUSE_EDUCATION =#{dto.spouseEducation}
    			</if>
    			<if test="dto.spouseIdCard != null and dto.spouseIdCard != ''">
						and t1.SPOUSE_ID_CARD =#{dto.spouseIdCard}
    			</if>
    			<if test="dto.spouseCertificateValid != null and dto.spouseCertificateValid != ''">
						and t1.SPOUSE_CERTIFICATE_VALID =#{dto.spouseCertificateValid}
    			</if>
    			<if test="dto.spouseLivingAddress != null and dto.spouseLivingAddress != ''">
						and t1.SPOUSE_LIVING_ADDRESS =#{dto.spouseLivingAddress}
    			</if>
    			<if test="dto.spouseUnitName != null and dto.spouseUnitName != ''">
						and t1.SPOUSE_UNIT_NAME =#{dto.spouseUnitName}
    			</if>
    			<if test="dto.spouseCompanyPhone != null and dto.spouseCompanyPhone != ''">
						and t1.SPOUSE_COMPANY_PHONE =#{dto.spouseCompanyPhone}
    			</if>
    			<if test="dto.spouseCompanyAddress != null and dto.spouseCompanyAddress != ''">
						and t1.SPOUSE_COMPANY_ADDRESS =#{dto.spouseCompanyAddress}
    			</if>
    			<if test="dto.spouseCompanyNature != null and dto.spouseCompanyNature != ''">
						and t1.SPOUSE_COMPANY_NATURE =#{dto.spouseCompanyNature}
    			</if>
    			<if test="dto.spouseMonthSalary != null and dto.spouseMonthSalary != ''">
						and t1.SPOUSE_MONTH_SALARY =#{dto.spouseMonthSalary}
    			</if>
    			<if test="dto.spouseOtherIncome != null and dto.spouseOtherIncome != ''">
						and t1.SPOUSE_OTHER_INCOME =#{dto.spouseOtherIncome}
    			</if>
    			<if test="dto.spousePositionLevel != null and dto.spousePositionLevel != ''">
						and t1.SPOUSE_POSITION_LEVEL =#{dto.spousePositionLevel}
    			</if>
    			<if test="dto.spouseInCompanyYear != null and dto.spouseInCompanyYear != ''">
						and t1.SPOUSE_IN_COMPANY_YEAR =#{dto.spouseInCompanyYear}
    			</if>
    			<if test="dto.spouseIsPrivateOwner != null and dto.spouseIsPrivateOwner != ''">
						and t1.SPOUSE_IS_PRIVATE_OWNER =#{dto.spouseIsPrivateOwner}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME =#{dto.updateTime}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 car_loan_user  -->
<select id="searchCarLoanUser" parameterType="java.util.Map" resultMap="CarLoanUserDTO">
    	     select 
						t1.id                             ,
						t1.order_number                   ,
						t1.user_name                      ,
						t1.sex                            ,
						t1.birthday_date                  ,
						t1.phone_number                   ,
						t1.id_card                        ,
						t1.certificate_valide             ,
						t1.house_address                  ,
						t1.contact_address                ,
						t1.theporary_permit               ,
						t1.contact_address_phone          ,
						t1.start_living_time              ,
						t1.in_city_year                   ,
						t1.support_number                 ,
						t1.marital_status                 ,
						t1.education                      ,
						t1.credit_card_amount             ,
						t1.house_property                 ,
						t1.unit_name                      ,
						t1.belong_department              ,
						t1.post_name                      ,
						t1.company_phone                  ,
						t1.company_address                ,
						t1.company_nature                 ,
						t1.month_salary                   ,
						t1.other_income                   ,
						t1.position_level                 ,
						t1.in_company_year                ,
						t1.is_private_owner               ,
						t1.spouse_name                    ,
						t1.spouse_phone                   ,
						t1.spouse_education               ,
						t1.spouse_id_card                 ,
						t1.spouse_certificate_valid       ,
						t1.spouse_living_address          ,
						t1.spouse_unit_name               ,
						t1.spouse_company_phone           ,
						t1.spouse_company_address         ,
						t1.spouse_company_nature          ,
						t1.spouse_month_salary            ,
						t1.spouse_other_income            ,
						t1.spouse_position_level          ,
						t1.spouse_in_company_year         ,
						t1.spouse_is_private_owner        ,
						t1.create_time                    ,
						t1.update_time                    
				from car_loan_user 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.id = #{dto.id}
    			</if>
    			<if test="dto.orderNumber != null and dto.orderNumber != ''">
						and t1.ORDER_NUMBER = #{dto.orderNumber}
    			</if>
    			<if test="dto.userName != null and dto.userName != ''">
						and t1.USER_NAME = #{dto.userName}
    			</if>
    			<if test="dto.sex != null and dto.sex != ''">
						and t1.SEX = #{dto.sex}
    			</if>
    			<if test="dto.birthdayDate != null and dto.birthdayDate != ''">
						and t1.BIRTHDAY_DATE = #{dto.birthdayDate}
    			</if>
    			<if test="dto.phoneNumber != null and dto.phoneNumber != ''">
						and t1.PHONE_NUMBER = #{dto.phoneNumber}
    			</if>
    			<if test="dto.idCard != null and dto.idCard != ''">
						and t1.ID_CARD = #{dto.idCard}
    			</if>
    			<if test="dto.certificateValide != null and dto.certificateValide != ''">
						and t1.CERTIFICATE_VALIDE = #{dto.certificateValide}
    			</if>
    			<if test="dto.houseAddress != null and dto.houseAddress != ''">
						and t1.HOUSE_ADDRESS = #{dto.houseAddress}
    			</if>
    			<if test="dto.contactAddress != null and dto.contactAddress != ''">
						and t1.CONTACT_ADDRESS = #{dto.contactAddress}
    			</if>
    			<if test="dto.theporaryPermit != null and dto.theporaryPermit != ''">
						and t1.THEPORARY_PERMIT = #{dto.theporaryPermit}
    			</if>
    			<if test="dto.contactAddressPhone != null and dto.contactAddressPhone != ''">
						and t1.CONTACT_ADDRESS_PHONE = #{dto.contactAddressPhone}
    			</if>
    			<if test="dto.startLivingTime != null and dto.startLivingTime != ''">
						and t1.START_LIVING_TIME = #{dto.startLivingTime}
    			</if>
    			<if test="dto.inCityYear != null and dto.inCityYear != ''">
						and t1.IN_CITY_YEAR = #{dto.inCityYear}
    			</if>
    			<if test="dto.supportNumber != null and dto.supportNumber != ''">
						and t1.SUPPORT_NUMBER = #{dto.supportNumber}
    			</if>
    			<if test="dto.maritalStatus != null and dto.maritalStatus != ''">
						and t1.MARITAL_STATUS = #{dto.maritalStatus}
    			</if>
    			<if test="dto.education != null and dto.education != ''">
						and t1.EDUCATION = #{dto.education}
    			</if>
    			<if test="dto.creditCardAmount != null and dto.creditCardAmount != ''">
						and t1.CREDIT_CARD_AMOUNT = #{dto.creditCardAmount}
    			</if>
    			<if test="dto.houseProperty != null and dto.houseProperty != ''">
						and t1.HOUSE_PROPERTY = #{dto.houseProperty}
    			</if>
    			<if test="dto.unitName != null and dto.unitName != ''">
						and t1.UNIT_NAME = #{dto.unitName}
    			</if>
    			<if test="dto.belongDepartment != null and dto.belongDepartment != ''">
						and t1.BELONG_DEPARTMENT = #{dto.belongDepartment}
    			</if>
    			<if test="dto.postName != null and dto.postName != ''">
						and t1.POST_NAME = #{dto.postName}
    			</if>
    			<if test="dto.companyPhone != null and dto.companyPhone != ''">
						and t1.COMPANY_PHONE = #{dto.companyPhone}
    			</if>
    			<if test="dto.companyAddress != null and dto.companyAddress != ''">
						and t1.COMPANY_ADDRESS = #{dto.companyAddress}
    			</if>
    			<if test="dto.companyNature != null and dto.companyNature != ''">
						and t1.COMPANY_NATURE = #{dto.companyNature}
    			</if>
    			<if test="dto.monthSalary != null and dto.monthSalary != ''">
						and t1.MONTH_SALARY = #{dto.monthSalary}
    			</if>
    			<if test="dto.otherIncome != null and dto.otherIncome != ''">
						and t1.OTHER_INCOME = #{dto.otherIncome}
    			</if>
    			<if test="dto.positionLevel != null and dto.positionLevel != ''">
						and t1.POSITION_LEVEL = #{dto.positionLevel}
    			</if>
    			<if test="dto.inCompanyYear != null and dto.inCompanyYear != ''">
						and t1.IN_COMPANY_YEAR = #{dto.inCompanyYear}
    			</if>
    			<if test="dto.isPrivateOwner != null and dto.isPrivateOwner != ''">
						and t1.IS_PRIVATE_OWNER = #{dto.isPrivateOwner}
    			</if>
    			<if test="dto.spouseName != null and dto.spouseName != ''">
						and t1.SPOUSE_NAME = #{dto.spouseName}
    			</if>
    			<if test="dto.spousePhone != null and dto.spousePhone != ''">
						and t1.SPOUSE_PHONE = #{dto.spousePhone}
    			</if>
    			<if test="dto.spouseEducation != null and dto.spouseEducation != ''">
						and t1.SPOUSE_EDUCATION = #{dto.spouseEducation}
    			</if>
    			<if test="dto.spouseIdCard != null and dto.spouseIdCard != ''">
						and t1.SPOUSE_ID_CARD = #{dto.spouseIdCard}
    			</if>
    			<if test="dto.spouseCertificateValid != null and dto.spouseCertificateValid != ''">
						and t1.SPOUSE_CERTIFICATE_VALID = #{dto.spouseCertificateValid}
    			</if>
    			<if test="dto.spouseLivingAddress != null and dto.spouseLivingAddress != ''">
						and t1.SPOUSE_LIVING_ADDRESS = #{dto.spouseLivingAddress}
    			</if>
    			<if test="dto.spouseUnitName != null and dto.spouseUnitName != ''">
						and t1.SPOUSE_UNIT_NAME = #{dto.spouseUnitName}
    			</if>
    			<if test="dto.spouseCompanyPhone != null and dto.spouseCompanyPhone != ''">
						and t1.SPOUSE_COMPANY_PHONE = #{dto.spouseCompanyPhone}
    			</if>
    			<if test="dto.spouseCompanyAddress != null and dto.spouseCompanyAddress != ''">
						and t1.SPOUSE_COMPANY_ADDRESS = #{dto.spouseCompanyAddress}
    			</if>
    			<if test="dto.spouseCompanyNature != null and dto.spouseCompanyNature != ''">
						and t1.SPOUSE_COMPANY_NATURE = #{dto.spouseCompanyNature}
    			</if>
    			<if test="dto.spouseMonthSalary != null and dto.spouseMonthSalary != ''">
						and t1.SPOUSE_MONTH_SALARY = #{dto.spouseMonthSalary}
    			</if>
    			<if test="dto.spouseOtherIncome != null and dto.spouseOtherIncome != ''">
						and t1.SPOUSE_OTHER_INCOME = #{dto.spouseOtherIncome}
    			</if>
    			<if test="dto.spousePositionLevel != null and dto.spousePositionLevel != ''">
						and t1.SPOUSE_POSITION_LEVEL = #{dto.spousePositionLevel}
    			</if>
    			<if test="dto.spouseInCompanyYear != null and dto.spouseInCompanyYear != ''">
						and t1.SPOUSE_IN_COMPANY_YEAR = #{dto.spouseInCompanyYear}
    			</if>
    			<if test="dto.spouseIsPrivateOwner != null and dto.spouseIsPrivateOwner != ''">
						and t1.SPOUSE_IS_PRIVATE_OWNER = #{dto.spouseIsPrivateOwner}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME = #{dto.updateTime}
    			</if>
</select>



	<select id="searchCarLoanUserByDetail" parameterType="java.util.Map" resultMap="CarLoanUserDTO">
		select
		t1.id                             ,
		t1.order_number                   ,
		t1.user_name                      ,
		t1.sex                            ,
		t1.birthday_date                  ,
		t1.phone_number                   ,
		t1.id_card                        ,
		t1.certificate_valide             ,
		t1.house_address                  ,
		t1.contact_address                ,
		t1.theporary_permit               ,
		t1.contact_address_phone          ,
		t1.start_living_time              ,
		t1.in_city_year                   ,
		t1.support_number                 ,
		t1.marital_status                 ,
		t1.education                      ,
		t1.credit_card_amount             ,
		t1.house_property                 ,
		t1.unit_name                      ,
		t1.belong_department              ,
		t1.post_name                      ,
		t1.company_phone                  ,
		t1.company_address                ,
		t1.company_nature                 ,
		t1.month_salary                   ,
		t1.other_income                   ,
		t1.position_level                 ,
		t1.in_company_year                ,
		t1.is_private_owner               ,
		t1.spouse_name                    ,
		t1.spouse_phone                   ,
		t1.spouse_education               ,
		t1.spouse_id_card                 ,
		t1.spouse_certificate_valid       ,
		t1.spouse_living_address          ,
		t1.spouse_unit_name               ,
		t1.spouse_company_phone           ,
		t1.spouse_company_address         ,
		t1.spouse_company_nature          ,
		t1.spouse_month_salary            ,
		t1.spouse_other_income            ,
		t1.spouse_position_level          ,
		t1.spouse_in_company_year         ,
		t1.spouse_is_private_owner        ,
		t1.create_time                    ,
		t1.update_time
		from car_loan_user 		t1
		where t1.ORDER_NUMBER = #{dto.orderNumber}
	</select>
  
<!-- 主键查询对象  car_loan_user -->
<select id="findCarLoanUserByPrimaryKey" parameterType="java.util.Map" resultMap="CarLoanUserDTO">
   	 		select 
					t1.id                             ,
					t1.order_number                   ,
					t1.user_name                      ,
					t1.sex                            ,
					t1.birthday_date                  ,
					t1.phone_number                   ,
					t1.id_card                        ,
					t1.certificate_valide             ,
					t1.house_address                  ,
					t1.contact_address                ,
					t1.theporary_permit               ,
					t1.contact_address_phone          ,
					t1.start_living_time              ,
					t1.in_city_year                   ,
					t1.support_number                 ,
					t1.marital_status                 ,
					t1.education                      ,
					t1.credit_card_amount             ,
					t1.house_property                 ,
					t1.unit_name                      ,
					t1.belong_department              ,
					t1.post_name                      ,
					t1.company_phone                  ,
					t1.company_address                ,
					t1.company_nature                 ,
					t1.month_salary                   ,
					t1.other_income                   ,
					t1.position_level                 ,
					t1.in_company_year                ,
					t1.is_private_owner               ,
					t1.spouse_name                    ,
					t1.spouse_phone                   ,
					t1.spouse_education               ,
					t1.spouse_id_card                 ,
					t1.spouse_certificate_valid       ,
					t1.spouse_living_address          ,
					t1.spouse_unit_name               ,
					t1.spouse_company_phone           ,
					t1.spouse_company_address         ,
					t1.spouse_company_nature          ,
					t1.spouse_month_salary            ,
					t1.spouse_other_income            ,
					t1.spouse_position_level          ,
					t1.spouse_in_company_year         ,
					t1.spouse_is_private_owner        ,
					t1.create_time                    ,
					t1.update_time                    
			from car_loan_user 		t1
			where 
				t1.id = #{id}
</select>
  <select id="queryCarLoanUserByOrderNum" parameterType="java.util.Map" resultMap="CarLoanUserDTO">
	  select
	  t1.id                             ,
	  t1.order_number                   ,
	  t1.user_name                      ,
	  t1.sex                            ,
	  t1.birthday_date                  ,
	  t1.phone_number                   ,
	  t1.id_card                        ,
	  t1.certificate_valide             ,
	  t1.house_address                  ,
	  t1.contact_address                ,
	  t1.theporary_permit               ,
	  t1.contact_address_phone          ,
	  t1.start_living_time              ,
	  t1.in_city_year                   ,
	  t1.support_number                 ,
	  t1.marital_status                 ,
	  t1.education                      ,
	  t1.credit_card_amount             ,
	  t1.house_property                 ,
	  t1.unit_name                      ,
	  t1.belong_department              ,
	  t1.post_name                      ,
	  t1.company_phone                  ,
	  t1.company_address                ,
	  t1.company_nature                 ,
	  t1.month_salary                   ,
	  t1.other_income                   ,
	  t1.position_level                 ,
	  t1.in_company_year                ,
	  t1.is_private_owner               ,
	  t1.spouse_name                    ,
	  t1.spouse_phone                   ,
	  t1.spouse_education               ,
	  t1.spouse_id_card                 ,
	  t1.spouse_certificate_valid       ,
	  t1.spouse_living_address          ,
	  t1.spouse_unit_name               ,
	  t1.spouse_company_phone           ,
	  t1.spouse_company_address         ,
	  t1.spouse_company_nature          ,
	  t1.spouse_month_salary            ,
	  t1.spouse_other_income            ,
	  t1.spouse_position_level          ,
	  t1.spouse_in_company_year         ,
	  t1.spouse_is_private_owner        ,
	  t1.create_time                    ,
	  t1.update_time
	  from car_loan_user 		t1
	  where
	  t1.order_number = #{orderNum} limit 1
  </select>
<!-- 新增对象 car_loan_user -->
<insert id="insertCarLoanUser" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="dto.id">
			insert into car_loan_user
			(   		
						order_number                   ,
						user_name                      ,
						sex                            ,
						birthday_date                  ,
						phone_number                   ,
						id_card                        ,
						certificate_valide             ,
						house_address                  ,
						contact_address                ,
						theporary_permit               ,
						contact_address_phone          ,
						start_living_time              ,
						in_city_year                   ,
						support_number                 ,
						marital_status                 ,
						education                      ,
						credit_card_amount             ,
						house_property                 ,
						unit_name                      ,
						belong_department              ,
						post_name                      ,
						company_phone                  ,
						company_address                ,
						company_nature                 ,
						month_salary                   ,
						other_income                   ,
						position_level                 ,
						in_company_year                ,
						is_private_owner               ,
						spouse_name                    ,
						spouse_phone                   ,
						spouse_education               ,
						spouse_id_card                 ,
						spouse_certificate_valid       ,
						spouse_living_address          ,
						spouse_unit_name               ,
						spouse_company_phone           ,
						spouse_company_address         ,
						spouse_company_nature          ,
						spouse_month_salary            ,
						spouse_other_income            ,
						spouse_position_level          ,
						spouse_in_company_year         ,
						spouse_is_private_owner        ,
						create_time                    ,
						update_time       				,
						CAR_INFO_ID
			)
			values(
						#{dto.orderNumber,jdbcType=VARCHAR}
						,
						#{dto.userName,jdbcType=VARCHAR}
						,
						#{dto.sex,jdbcType=VARCHAR}
						,
						#{dto.birthdayDate,jdbcType=VARCHAR}
						,
						#{dto.phoneNumber,jdbcType=VARCHAR}
						,
						#{dto.idCard,jdbcType=VARCHAR}
						,
						'1'
						,
						#{dto.houseAddress,jdbcType=VARCHAR}
						,
						#{dto.contactAddress,jdbcType=VARCHAR}
						,
						#{dto.theporaryPermit,jdbcType=VARCHAR}
						,
						#{dto.contactAddressPhone,jdbcType=VARCHAR}
						,
						#{dto.startLivingTime,jdbcType=VARCHAR}
						,
						#{dto.inCityYear,jdbcType=VARCHAR}
						,
						#{dto.supportNumber,jdbcType=VARCHAR}
						,
						#{dto.maritalStatus,jdbcType=VARCHAR}
						,
						#{dto.education,jdbcType=VARCHAR}
						,
						#{dto.creditCardAmount,jdbcType=VARCHAR}
						,
						#{dto.houseProperty,jdbcType=VARCHAR}
						,
						#{dto.unitName,jdbcType=VARCHAR}
						,
						#{dto.belongDepartment,jdbcType=VARCHAR}
						,
						#{dto.postName,jdbcType=VARCHAR}
						,
						#{dto.companyPhone,jdbcType=VARCHAR}
						,
						#{dto.companyAddress,jdbcType=VARCHAR}
						,
						#{dto.companyNature,jdbcType=VARCHAR}
						,
						#{dto.monthSalary,jdbcType=VARCHAR}
						,
						#{dto.otherIncome,jdbcType=VARCHAR}
						,
						#{dto.positionLevel,jdbcType=VARCHAR}
						,
						#{dto.inCompanyYear,jdbcType=VARCHAR}
						,
						#{dto.isPrivateOwner,jdbcType=VARCHAR}
						,
						#{dto.spouseName,jdbcType=VARCHAR}
						,
						#{dto.spousePhone,jdbcType=VARCHAR}
						,
						#{dto.spouseEducation,jdbcType=VARCHAR}
						,
						#{dto.spouseIdCard,jdbcType=VARCHAR}
						,
						'1'
						,
						#{dto.spouseLivingAddress,jdbcType=VARCHAR}
						,
						#{dto.spouseUnitName,jdbcType=VARCHAR}
						,
						#{dto.spouseCompanyPhone,jdbcType=VARCHAR}
						,
						#{dto.spouseCompanyAddress,jdbcType=VARCHAR}
						,
						#{dto.spouseCompanyNature,jdbcType=VARCHAR}
						,
						#{dto.spouseMonthSalary,jdbcType=VARCHAR}
						,
						#{dto.spouseOtherIncome,jdbcType=VARCHAR}
						,
						#{dto.spousePositionLevel,jdbcType=VARCHAR}
						,
						#{dto.spouseInCompanyYear,jdbcType=VARCHAR}
						,
						#{dto.spouseIsPrivateOwner,jdbcType=VARCHAR}
						,
						now()
						,
						#{dto.updateTime,jdbcType=TIMESTAMP}
						,
						#{dto.carinfoid,jdbcType=DECIMAL}
						
			)
</insert>
    
<!-- 更新对象 car_loan_user -->
<update id="updateCarLoanUser" parameterType="java.util.Map">
	     update car_loan_user t1
	           set 
			           t1.id                             =#{dto.id,jdbcType=DECIMAL},
			           t1.order_number                   =#{dto.orderNumber,jdbcType=VARCHAR},
			           t1.user_name                      =#{dto.userName,jdbcType=VARCHAR},
			           t1.sex                            =#{dto.sex,jdbcType=VARCHAR},
			           t1.birthday_date                  =#{dto.birthdayDate,jdbcType=VARCHAR},
			           t1.phone_number                   =#{dto.phoneNumber,jdbcType=VARCHAR},
			           t1.id_card                        =#{dto.idCard,jdbcType=VARCHAR},
			           t1.certificate_valide             ='1',
			           t1.house_address                  =#{dto.houseAddress,jdbcType=VARCHAR},
			           t1.contact_address                =#{dto.contactAddress,jdbcType=VARCHAR},
			           t1.theporary_permit               =#{dto.theporaryPermit,jdbcType=VARCHAR},
			           t1.contact_address_phone          =#{dto.contactAddressPhone,jdbcType=VARCHAR},
			           t1.start_living_time              =#{dto.startLivingTime,jdbcType=VARCHAR},
			           t1.in_city_year                   =#{dto.inCityYear,jdbcType=VARCHAR},
			           t1.support_number                 =#{dto.supportNumber,jdbcType=VARCHAR},
			           t1.marital_status                 =#{dto.maritalStatus,jdbcType=VARCHAR},
			           t1.education                      =#{dto.education,jdbcType=VARCHAR},
			           t1.credit_card_amount             =#{dto.creditCardAmount,jdbcType=VARCHAR},
			           t1.house_property                 =#{dto.houseProperty,jdbcType=VARCHAR},
			           t1.unit_name                      =#{dto.unitName,jdbcType=VARCHAR},
			           t1.belong_department              =#{dto.belongDepartment,jdbcType=VARCHAR},
			           t1.post_name                      =#{dto.postName,jdbcType=VARCHAR},
			           t1.company_phone                  =#{dto.companyPhone,jdbcType=VARCHAR},
			           t1.company_address                =#{dto.companyAddress,jdbcType=VARCHAR},
			           t1.company_nature                 =#{dto.companyNature,jdbcType=VARCHAR},
			           t1.month_salary                   =#{dto.monthSalary,jdbcType=VARCHAR},
			           t1.other_income                   =#{dto.otherIncome,jdbcType=VARCHAR},
			           t1.position_level                 =#{dto.positionLevel,jdbcType=VARCHAR},
			           t1.in_company_year                =#{dto.inCompanyYear,jdbcType=VARCHAR},
			           t1.is_private_owner               =#{dto.isPrivateOwner,jdbcType=VARCHAR},
			           t1.spouse_name                    =#{dto.spouseName,jdbcType=VARCHAR},
			           t1.spouse_phone                   =#{dto.spousePhone,jdbcType=VARCHAR},
			           t1.spouse_education               =#{dto.spouseEducation,jdbcType=VARCHAR},
			           t1.spouse_id_card                 =#{dto.spouseIdCard,jdbcType=VARCHAR},
			           t1.spouse_certificate_valid       ='1',
			           t1.spouse_living_address          =#{dto.spouseLivingAddress,jdbcType=VARCHAR},
			           t1.spouse_unit_name               =#{dto.spouseUnitName,jdbcType=VARCHAR},
			           t1.spouse_company_phone           =#{dto.spouseCompanyPhone,jdbcType=VARCHAR},
			           t1.spouse_company_address         =#{dto.spouseCompanyAddress,jdbcType=VARCHAR},
			           t1.spouse_company_nature          =#{dto.spouseCompanyNature,jdbcType=VARCHAR},
			           t1.spouse_month_salary            =#{dto.spouseMonthSalary,jdbcType=VARCHAR},
			           t1.spouse_other_income            =#{dto.spouseOtherIncome,jdbcType=VARCHAR},
			           t1.spouse_position_level          =#{dto.spousePositionLevel,jdbcType=VARCHAR},
			           t1.spouse_in_company_year         =#{dto.spouseInCompanyYear,jdbcType=VARCHAR},
			           t1.spouse_is_private_owner        =#{dto.spouseIsPrivateOwner,jdbcType=VARCHAR},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.update_time                    =#{dto.updateTime,jdbcType=TIMESTAMP}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 car_loan_user -->
<delete id="deleteCarLoanUserByID" parameterType="java.util.Map">
    	delete from car_loan_user where id in (${ids} )
</delete>
<!-- 主键假删除 car_loan_user -->
<update id="deleteCarLoanUserByPrimaryKey" parameterType="java.util.Map">
	     update car_loan_user t1
	           set   t1.valid='0'	
	     where t1.id in( ${ids})
</update>
</mapper>