<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<!--MybatisGenerator代码生成配置文件，与项目无关联，仅代码生成使用-->
<generatorConfiguration>
    <context id="Mysql" targetRuntime="MyBatis3">
        <!-- 生成的Java文件的编码 -->
        <property name="javaFileEncoding" value="UTF-8"/>

        <plugin type="com.yingu.loan.common.mybatis.MapperPlugin"/>

        <commentGenerator>
            <!--  关闭自动生成的注释  -->
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
        <!--数据库连接信息-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" userId="root"
                        password="root"
                        connectionURL="jdbc:mysql://localhost:3306/hive">
        </jdbcConnection>

        <!--Java Bean生成的路径以及package命名空间定义-->

        <javaModelGenerator targetPackage="com.carloan.service.quartzjob.carloaninfo.entity" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="immutable" value="false"/>
        </javaModelGenerator>

        <!--sql xml生成的路径-->
        <sqlMapGenerator targetPackage="resources/generated_mappers" targetProject="src/main">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!--java mapper生成的路径以及package命名空间定义-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.carloan.service.quartzjob.carloaninfo.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>


        <!-- 需要生存的表，可以配置多个，*ByExample是示例，都配置false -->
        <!-- tableName：表名，domainObjectName：实体名 -->
        <table tableName="city" domainObjectName="City"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <!--<property name="rootClass" value="com.hive.mybatis.DataEntity" />-->
            <generatedKey column="id" sqlStatement="MySql" identity="true"/><!--配制generatedKey表示返回插入的主键，否则请删除这一行-->
        </table>
    </context>
</generatorConfiguration>