<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.modules.loan.carloanproductinfo.dao.CarLoanProductInfoDao">

	<resultMap id="carLoanProductInfo" type="com.car.modules.loan.carloanproductinfo.dto.CarLoanProductDTO">
		<result property="productType" column="PRODUCT_TYPE" jdbcType="VARCHAR" />
		<result property="productName" column="PRODUCT_NAME" jdbcType="VARCHAR" />
		<result property="productCode" column="PRODUCT_CODE" jdbcType="VARCHAR" />
		<result property="loanPeriods" column="LOAN_PERIODS" jdbcType="VARCHAR" />
		<result property="repaymentWay" column="REPAYMENT_WAY" jdbcType="VARCHAR" />
	</resultMap>

    <select id="querySysDictList" parameterType="java.util.Map" resultType="java.util.Map">
        select
					t1.dict_detail_name     DICNAME           ,
					t1.dict_detail_value    DICVALUE          ,
					cast(t1.order_by as unsigned int )     ORDERBY
			from sys_dict_detail 		t1
			where  t1.validate_state='1'
			and exists (select t2.* from sys_dict t2 where t2.validate_state='1' and t2.id=t1.dict_id and t2.dict_code='${code}')
			ORDER BY ORDERBY
    </select>

	<select id="queryCarProductData" resultMap="carLoanProductInfo">
		SELECT
			t1.PRODUCT_NAME,
			t1.PRODUCT_CODE
		FROM
			lb_t_product_conf t1
	</select>
</mapper>