<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.modules.loan.carloancalphonelog.dao.CarLoanCalPhoneLogDao">
<resultMap id="CarLoanCalPhoneLogDTO" type="com.car.modules.loan.carloancalphonelog.dto.CarLoanCalPhoneLogDTO">
				<result property="id" column="id" jdbcType="DECIMAL" />
				<result property="orderNumber" column="ORDER_NUMBER" jdbcType="VARCHAR" />
				<result property="surveyContactsId" column="SURVEY_CONTACTS_ID" jdbcType="DECIMAL" />
				<result property="checkTime" column="CHECK_TIME" jdbcType="DATE" />
				<result property="checkStatus" column="CHECK_STATUS" jdbcType="VARCHAR" />
				<result property="examineStage" column="EXAMINE_STAGE" jdbcType="VARCHAR" />
				<result property="ownerId" column="OWNER_ID" jdbcType="DECIMAL" />
				<result property="orgId" column="ORG_ID" jdbcType="DECIMAL" />
				<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP" />
				<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP" />
				<result property="createBy" column="CREATE_BY" jdbcType="DECIMAL" />
				<result property="remark" column="REMARK" jdbcType="VARCHAR" />
</resultMap>
				
<!-- 分页查询 car_loan_cal_phone_log -->	
<select id="searchCarLoanCalPhoneLogByPaging" parameterType="java.util.Map" resultMap="CarLoanCalPhoneLogDTO">
    	 		select 
						t1.id                             ,
						t1.order_number                   ,
						t1.survey_contacts_id             ,
						t1.check_time                     ,
						t1.check_status                   ,
						t1.examine_stage                  ,
						t1.owner_id                       ,
						t1.org_id                         ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.create_by                      ,
						t1.remark                         
					
				from car_loan_cal_phone_log 	t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.id =#{dto.id}
    			</if>
    			<if test="dto.orderNumber != null and dto.orderNumber != ''">
						and t1.ORDER_NUMBER =#{dto.orderNumber}
    			</if>
    			<if test="dto.surveyContactsId != null and dto.surveyContactsId != ''">
						and t1.SURVEY_CONTACTS_ID =#{dto.surveyContactsId}
    			</if>
    			<if test="dto.checkTime != null and dto.checkTime != ''">
						and t1.CHECK_TIME =#{dto.checkTime}
    			</if>
    			<if test="dto.checkStatus != null and dto.checkStatus != ''">
						and t1.CHECK_STATUS =#{dto.checkStatus}
    			</if>
    			<if test="dto.examineStage != null and dto.examineStage != ''">
						and t1.EXAMINE_STAGE =#{dto.examineStage}
    			</if>
    			<if test="dto.ownerId != null and dto.ownerId != ''">
						and t1.OWNER_ID =#{dto.ownerId}
    			</if>
    			<if test="dto.orgId != null and dto.orgId != ''">
						and t1.ORG_ID =#{dto.orgId}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME =#{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME =#{dto.modifyTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY =#{dto.createBy}
    			</if>
    			<if test="dto.remark != null and dto.remark != ''">
						and t1.REMARK =#{dto.remark}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 car_loan_cal_phone_log  -->
<select id="searchCarLoanCalPhoneLog" parameterType="java.util.Map" resultMap="CarLoanCalPhoneLogDTO">
    	     select 
						t1.id                             ,
						t1.order_number                   ,
						t1.survey_contacts_id             ,
						t1.check_time                     ,
						t1.check_status                   ,
						t1.examine_stage                  ,
						t1.owner_id                       ,
						t1.org_id                         ,
						t1.create_time                    ,
						t1.modify_time                    ,
						t1.create_by                      ,
						t1.remark                         
				from car_loan_cal_phone_log 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.id = #{dto.id}
    			</if>
    			<if test="dto.orderNumber != null and dto.orderNumber != ''">
						and t1.ORDER_NUMBER = #{dto.orderNumber}
    			</if>
    			<if test="dto.surveyContactsId != null and dto.surveyContactsId != ''">
						and t1.SURVEY_CONTACTS_ID = #{dto.surveyContactsId}
    			</if>
    			<if test="dto.checkTime != null and dto.checkTime != ''">
						and t1.CHECK_TIME = #{dto.checkTime}
    			</if>
    			<if test="dto.checkStatus != null and dto.checkStatus != ''">
						and t1.CHECK_STATUS = #{dto.checkStatus}
    			</if>
    			<if test="dto.examineStage != null and dto.examineStage != ''">
						and t1.EXAMINE_STAGE = #{dto.examineStage}
    			</if>
    			<if test="dto.ownerId != null and dto.ownerId != ''">
						and t1.OWNER_ID = #{dto.ownerId}
    			</if>
    			<if test="dto.orgId != null and dto.orgId != ''">
						and t1.ORG_ID = #{dto.orgId}
    			</if>
    			<if test="dto.createTime != null and dto.createTime != ''">
						and t1.CREATE_TIME = #{dto.createTime}
    			</if>
    			<if test="dto.modifyTime != null and dto.modifyTime != ''">
						and t1.MODIFY_TIME = #{dto.modifyTime}
    			</if>
    			<if test="dto.createBy != null and dto.createBy != ''">
						and t1.CREATE_BY = #{dto.createBy}
    			</if>
    			<if test="dto.remark != null and dto.remark != ''">
						and t1.REMARK = #{dto.remark}
    			</if>
</select>
  
<!-- 主键查询对象  car_loan_cal_phone_log -->
<select id="findCarLoanCalPhoneLogByPrimaryKey" parameterType="java.util.Map" resultMap="CarLoanCalPhoneLogDTO">
   	 		select 
					t1.id                             ,
					t1.order_number                   ,
					t1.survey_contacts_id             ,
					t1.check_time                     ,
					t1.check_status                   ,
					t1.examine_stage                  ,
					t1.owner_id                       ,
					t1.org_id                         ,
					t1.create_time                    ,
					t1.modify_time                    ,
					t1.create_by                      ,
					t1.remark                         
			from car_loan_cal_phone_log 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 car_loan_cal_phone_log -->
<insert id="insertCarLoanCalPhoneLog" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="dto.id">
			insert into car_loan_cal_phone_log
			(   		
						id                             ,
						order_number                   ,
						survey_contacts_id             ,
						check_time                     ,
						check_status                   ,
						examine_stage                  ,
						owner_id                       ,
						org_id                         ,
						create_time                    ,
						modify_time                    ,
						create_by                      ,
						remark                         
			)
			values(
						#{dto.id,jdbcType=DECIMAL}
						,
						#{dto.orderNumber,jdbcType=VARCHAR}
						,
						#{dto.surveyContactsId,jdbcType=DECIMAL}
						,
						#{dto.checkTime,jdbcType=DATE}
						,
						#{dto.checkStatus,jdbcType=VARCHAR}
						,
						#{dto.examineStage,jdbcType=VARCHAR}
						,
						#{dto.ownerId,jdbcType=DECIMAL}
						,
						#{dto.orgId,jdbcType=DECIMAL}
						,
						#{dto.createTime,jdbcType=TIMESTAMP}
						,
						#{dto.modifyTime,jdbcType=TIMESTAMP}
						,
						#{dto.createBy,jdbcType=DECIMAL}
						,
						#{dto.remark,jdbcType=VARCHAR}
						
			)
</insert>
    
<!-- 更新对象 car_loan_cal_phone_log -->
<update id="updateCarLoanCalPhoneLog" parameterType="java.util.Map">
	     update car_loan_cal_phone_log t1
	           set 
			           t1.id                             =#{dto.id,jdbcType=DECIMAL},
			           t1.order_number                   =#{dto.orderNumber,jdbcType=VARCHAR},
			           t1.survey_contacts_id             =#{dto.surveyContactsId,jdbcType=DECIMAL},
			           t1.check_time                     =#{dto.checkTime,jdbcType=DATE},
			           t1.check_status                   =#{dto.checkStatus,jdbcType=VARCHAR},
			           t1.examine_stage                  =#{dto.examineStage,jdbcType=VARCHAR},
			           t1.owner_id                       =#{dto.ownerId,jdbcType=DECIMAL},
			           t1.org_id                         =#{dto.orgId,jdbcType=DECIMAL},
			           t1.create_time                    =#{dto.createTime,jdbcType=TIMESTAMP},
			           t1.modify_time                    =#{dto.modifyTime,jdbcType=TIMESTAMP},
			           t1.create_by                      =#{dto.createBy,jdbcType=DECIMAL},
			           t1.remark                         =#{dto.remark,jdbcType=VARCHAR}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 car_loan_cal_phone_log -->
<delete id="deleteCarLoanCalPhoneLogByID" parameterType="java.util.Map">
    	delete from car_loan_cal_phone_log where id in (${ids} )
</delete>
<!-- 主键假删除 car_loan_cal_phone_log -->
<update id="deleteCarLoanCalPhoneLogByPrimaryKey" parameterType="java.util.Map">
	     update car_loan_cal_phone_log t1
	           set   t1.valid='0'	
	     where t1.id in( ${ids})
</update>

	<!-- 通过参数来查询相关的 信息 -->
	<select id="queryInfo" parameterType="java.util.Map" resultMap="CarLoanCalPhoneLogDTO">
		select * from car_loan_cal_phone_log t2  where t2.id = (select max(id) from car_loan_cal_phone_log t1  where t1.SURVEY_CONTACTS_ID = #{loanSurveyContactsId} )

	</select>

	<select id="queryCarLoanCalPhoneLogInfoByParam" parameterType="java.util.Map" resultMap="CarLoanCalPhoneLogDTO">
		select * from car_loan_cal_phone_log t1   where t1.SURVEY_CONTACTS_ID = #{loanSurveyContactsId}  and t1.ORDER_NUMBER = #{orderNuber} order by id asc
	</select>
</mapper>