<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.modules.loan.biz.ruleconf.dao.BizRuleConfMapper">
    <resultMap id="BaseResultMap" type="com.car.modules.loan.biz.ruleconf.dto.BizRuleConfDO">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="RULE_CODE" jdbcType="VARCHAR" property="ruleCode"/>
        <result column="RULE_NAME" jdbcType="VARCHAR" property="ruleName"/>
        <result column="RULE_LEVEL" jdbcType="INTEGER" property="ruleLevel"/>
        <result column="RULE_IS_DETAIL" jdbcType="VARCHAR" property="ruleIsDetail"/>
        <result column="P_ID" jdbcType="BIGINT" property="pId"/>
        <result column="RULE_TYPE" jdbcType="VARCHAR" property="ruleType"/>
        <result column="AREF_ID" jdbcType="VARCHAR" property="arefId"/>
        <result column="AREF_DESC" jdbcType="VARCHAR" property="arefDesc"/>
        <result column="BREF_ID" jdbcType="VARCHAR" property="brefId"/>
        <result column="BREF_DESC" jdbcType="VARCHAR" property="brefDesc"/>
        <result column="VALIDATE_STATE" jdbcType="VARCHAR" property="validateState"/>
        <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, RULE_CODE, RULE_NAME, RULE_LEVEL, RULE_IS_DETAIL, P_ID, RULE_TYPE, AREF_ID, AREF_DESC, 
    BREF_ID, BREF_DESC, VALIDATE_STATE, PRODUCT_ID, CREATE_TIME, UPDATE_TIME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biz_rule_conf
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from biz_rule_conf
    where ID = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insertSelective" keyProperty="id" parameterType="com.car.modules.loan.biz.ruleconf.dto.BizRuleConfDO"
            useGeneratedKeys="true">
        insert into biz_rule_conf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleCode != null">
                RULE_CODE,
            </if>
            <if test="ruleName != null">
                RULE_NAME,
            </if>
            <if test="ruleLevel != null">
                RULE_LEVEL,
            </if>
            <if test="ruleIsDetail != null">
                RULE_IS_DETAIL,
            </if>
            <if test="pId != null">
                P_ID,
            </if>
            <if test="ruleType != null">
                RULE_TYPE,
            </if>
            <if test="arefId != null">
                AREF_ID,
            </if>
            <if test="arefDesc != null">
                AREF_DESC,
            </if>
            <if test="brefId != null">
                BREF_ID,
            </if>
            <if test="brefDesc != null">
                BREF_DESC,
            </if>
            <if test="validateState != null">
                VALIDATE_STATE,
            </if>
            <if test="productId != null">
                PRODUCT_ID,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleCode != null">
                #{ruleCode,jdbcType=VARCHAR},
            </if>
            <if test="ruleName != null">
                #{ruleName,jdbcType=VARCHAR},
            </if>
            <if test="ruleLevel != null">
                #{ruleLevel,jdbcType=INTEGER},
            </if>
            <if test="ruleIsDetail != null">
                #{ruleIsDetail,jdbcType=VARCHAR},
            </if>
            <if test="pId != null">
                #{pId,jdbcType=BIGINT},
            </if>
            <if test="ruleType != null">
                #{ruleType,jdbcType=VARCHAR},
            </if>
            <if test="arefId != null">
                #{arefId,jdbcType=VARCHAR},
            </if>
            <if test="arefDesc != null">
                #{arefDesc,jdbcType=VARCHAR},
            </if>
            <if test="brefId != null">
                #{brefId,jdbcType=VARCHAR},
            </if>
            <if test="brefDesc != null">
                #{brefDesc,jdbcType=VARCHAR},
            </if>
            <if test="validateState != null">
                #{validateState,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.car.modules.loan.biz.ruleconf.dto.BizRuleConfDO">
        update biz_rule_conf
        <set>
            <if test="ruleCode != null">
                RULE_CODE = #{ruleCode,jdbcType=VARCHAR},
            </if>
            <if test="ruleName != null">
                RULE_NAME = #{ruleName,jdbcType=VARCHAR},
            </if>
            <if test="ruleLevel != null">
                RULE_LEVEL = #{ruleLevel,jdbcType=INTEGER},
            </if>
            <if test="ruleIsDetail != null">
                RULE_IS_DETAIL = #{ruleIsDetail,jdbcType=VARCHAR},
            </if>
            <if test="pId != null">
                P_ID = #{pId,jdbcType=BIGINT},
            </if>
            <if test="ruleType != null">
                RULE_TYPE = #{ruleType,jdbcType=VARCHAR},
            </if>
            <if test="arefId != null">
                AREF_ID = #{arefId,jdbcType=VARCHAR},
            </if>
            <if test="arefDesc != null">
                AREF_DESC = #{arefDesc,jdbcType=VARCHAR},
            </if>
            <if test="brefId != null">
                BREF_ID = #{brefId,jdbcType=VARCHAR},
            </if>
            <if test="brefDesc != null">
                BREF_DESC = #{brefDesc,jdbcType=VARCHAR},
            </if>
            <if test="validateState != null">
                VALIDATE_STATE = #{validateState,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                PRODUCT_ID = #{productId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.car.modules.loan.biz.ruleconf.dto.BizRuleConfDO">
    update biz_rule_conf
    set RULE_CODE = #{ruleCode,jdbcType=VARCHAR},
      RULE_NAME = #{ruleName,jdbcType=VARCHAR},
      RULE_LEVEL = #{ruleLevel,jdbcType=INTEGER},
      RULE_IS_DETAIL = #{ruleIsDetail,jdbcType=VARCHAR},
      P_ID = #{pId,jdbcType=BIGINT},
      RULE_TYPE = #{ruleType,jdbcType=VARCHAR},
      AREF_ID = #{arefId,jdbcType=VARCHAR},
      AREF_DESC = #{arefDesc,jdbcType=VARCHAR},
      BREF_ID = #{brefId,jdbcType=VARCHAR},
      BREF_DESC = #{brefDesc,jdbcType=VARCHAR},
      VALIDATE_STATE = #{validateState,jdbcType=VARCHAR},
      PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
    <delete id="deleteByPrimaryKeys" parameterType="java.util.List">
        DELETE FROM biz_rule_conf
        WHERE ID IN
        <foreach close=")" collection="ids" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="listTypeByArefId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT DISTINCT(RULE_TYPE) FROM BIZ_RULE_CONF WHERE RULE_CODE=#{ruleCode,jdbcType=VARCHAR} AND RULE_IS_DETAIL='1';
    </select>
    <!--获取规则类型-机构对角色的用户代办数量-->
    <select id="getUserOrderByOrgToRole" resultType="com.car.modules.workflow.dispatch.rule.entity.UserOrder"
            parameterType="com.car.modules.workflow.dispatch.rule.entity.ConfVO">
        SELECT
          TEMP.ID AS userId,
          COUNT(T.ID) AS num
        FROM
          (SELECT
            u.`ID`
          FROM
            sys_user u
            LEFT JOIN SYS_ROLE_USER RU
              ON u.`ID` = ru.`TARGET_ID`
            LEFT JOIN sys_role r
              ON ru.`ROLE_ID` = r.`ID`
            LEFT JOIN BIZ_RULE_CONF rc
              ON r.`ROLE_CODE` = rc.`BREF_ID`
          WHERE u.`VALIDATE_STATE` = '1'
            AND RU.VALIDATE_STATE = '1'
            AND RC.RULE_IS_DETAIL = '1'
            AND RC.RULE_TYPE = '2'
            AND RC.RULE_CODE = #{ruleCode,jdbcType=VARCHAR}
            AND RC.AREF_ID = #{arefId,jdbcType=VARCHAR}
          ) TEMP
          LEFT JOIN JBPM4_TASK T
            ON TEMP.ID = T.ID
            AND EXISTS
            (SELECT
              PRO_INSTANCE_ID
            FROM
              JBPM4_BIZ_TAB
            WHERE BIZ_TYPE = #{bizType,jdbcType=VARCHAR}
              AND PRO_INSTANCE_ID = t.PRO_INSTANCE_ID)
        GROUP BY TEMP.ID
        ORDER BY NUM
    </select>
</mapper>