<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.modules.workflow.jbpm4task.dao.Jbpm4TaskDao">
    <resultMap id="Jbpm4TaskDTO" type="com.car.modules.workflow.jbpm4task.dto.Jbpm4TaskDTO">
        <result property="id" column="ID" jdbcType="DECIMAL"/>
        <result property="proInstanceId" column="PRO_INSTANCE_ID" jdbcType="VARCHAR"/>
        <result property="activityName" column="ACTIVITY_NAME" jdbcType="VARCHAR"/>
        <result property="assignee" column="ASSIGNEE" jdbcType="VARCHAR"/>
        <result property="createTime" column="CREATE_TIME" jdbcType="DATE"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID,PRO_INSTANCE_ID,ACTIVITY_NAME,ASSIGNEE,CREATE_TIME
    </sql>
    <!-- 分页查询 jbpm4_task -->
    <select id="searchJbpm4TaskByPaging" parameterType="java.util.Map" resultMap="Jbpm4TaskDTO">
        select
        t1.id ,
        t1.pro_instance_id ,
        t1.activity_name ,
        t1.assignee ,
        t1.create_time

        from jbpm4_task t1
        where 1=1
        <if test="dto.id != null and dto.id != ''">
            and t1.ID =#{dto.id}
        </if>
        <if test="dto.proInstanceId != null and dto.proInstanceId != ''">
            and t1.PRO_INSTANCE_ID =#{dto.proInstanceId}
        </if>
        <if test="dto.activityName != null and dto.activityName != ''">
            and t1.ACTIVITY_NAME =#{dto.activityName}
        </if>
        <if test="dto.assignee != null and dto.assignee != ''">
            and t1.ASSIGNEE =#{dto.assignee}
        </if>
        <if test="dto.createTime != null and dto.createTime != ''">
            and t1.CREATE_TIME =#{dto.createTime}
        </if>

        order by t1.id desc
    </select>

    <!-- 查询列表 jbpm4_task  -->
    <select id="searchJbpm4Task" parameterType="java.util.Map" resultMap="Jbpm4TaskDTO">
        select
        t1.id ,
        t1.pro_instance_id ,
        t1.activity_name ,
        t1.assignee ,
        t1.create_time
        from jbpm4_task t1
        where 1=1
        <if test="dto.id != null and dto.id != ''">
            and t1.ID = #{dto.id}
        </if>
        <if test="dto.proInstanceId != null and dto.proInstanceId != ''">
            and t1.PRO_INSTANCE_ID = #{dto.proInstanceId}
        </if>
        <if test="dto.activityName != null and dto.activityName != ''">
            and t1.ACTIVITY_NAME = #{dto.activityName}
        </if>
        <if test="dto.assignee != null and dto.assignee != ''">
            and t1.ASSIGNEE = #{dto.assignee}
        </if>
        <if test="dto.createTime != null and dto.createTime != ''">
            and t1.CREATE_TIME = #{dto.createTime}
        </if>
    </select>

    <!-- 主键查询对象  jbpm4_task -->
    <select id="findJbpm4TaskByPrimaryKey" parameterType="java.util.Map" resultMap="Jbpm4TaskDTO">
   	 		select 
					t1.id                             ,
					t1.pro_instance_id                ,
					t1.activity_name                  ,
					t1.assignee                       ,
					t1.create_time                    
			from jbpm4_task 		t1
			where 
				t1.id = #{id}
</select>

    <!-- 新增对象 jbpm4_task -->
    <insert id="insertJbpm4Task" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="dto.id">
			insert into jbpm4_task
			(   		
						pro_instance_id                ,
						activity_name                  ,
						assignee                       ,
						create_time                    
			)
			values(
						#{dto.proInstanceId,jdbcType=VARCHAR}
						,
						#{dto.activityName,jdbcType=VARCHAR}
						,
						#{dto.assignee,jdbcType=VARCHAR}
						,
						#{dto.createTime,jdbcType=TIMESTAMP}
						
			)
</insert>

    <!-- 更新对象 jbpm4_task -->
    <update id="updateJbpm4Task" parameterType="java.util.Map">
        update jbpm4_task t1
        set
        <if test="dto.proInstanceId != null and dto.proInstanceId != ''">
            t1.pro_instance_id =#{dto.proInstanceId,jdbcType=VARCHAR},
        </if>
        <if test="dto.activityName != null and dto.activityName != ''">
            t1.activity_name =#{dto.activityName,jdbcType=VARCHAR},
        </if>
        <if test="dto.assignee != null and dto.assignee != ''">
            t1.assignee =#{dto.assignee,jdbcType=VARCHAR},
        </if>
        <if test="dto.createTime != null and dto.createTime != ''">
            t1.create_time =#{dto.createTime,jdbcType=DATE}
        </if>
        where t1.id = #{dto.id}
    </update>


    <select id="queryLikeJbpm4Task" parameterType="java.util.Map" resultMap="Jbpm4TaskDTO">
        select
        t1.id ,
        t1.pro_instance_id ,
        t1.activity_name ,
        t1.assignee ,
        t1.create_time
        from jbpm4_task t1
        where 1=1
        <if test="dto.id != null and dto.id != ''">
            and t1.ID = #{dto.id}
        </if>
        <if test="dto.proInstanceId != null and dto.proInstanceId != ''">
            and t1.PRO_INSTANCE_ID = #{dto.proInstanceId}
        </if>
        <if test="dto.activityName != null and dto.activityName != ''">
            and t1.ACTIVITY_NAME = #{dto.activityName}
        </if>
        <if test="dto.assignee != null and dto.assignee != ''">
            and t1.ASSIGNEE = #{dto.assignee}
        </if>
        <if test="dto.createTime != null and dto.createTime != ''">
            and t1.CREATE_TIME = #{dto.createTime}
        </if>
    </select>
    <!-- 主键删除 jbpm4_biz_tab -->
    <delete id="deleteJbpm4TaskByID" parameterType="java.util.Map">
        delete from jbpm4_task where id = #{dto.id}
    </delete>
    <!--更新任务处理人，sql并发控制派单池重复派单 ;boolValue==true,说明是派单池派单-->
    <update id="updateAssigneeByPrimaryKey">
        UPDATE
        JBPM4_TASK
        SET
        ASSIGNEE = #{toUserId,jdbcType=VARCHAR}
        WHERE ID = #{taskId}
        <if test="boolValue==true">
            AND ASSIGNEE = '-1'
        </if>
    </update>
    <select id="listTaskOfNoAssignee" resultType="java.util.Map" parameterType="java.util.Map">
     SELECT
      t.ID,
      t.PRO_INSTANCE_ID,
      bt.`ORG_ID`
    FROM
      jbpm4_task t
      LEFT JOIN jbpm4_biz_tab bt
        ON bt.`PRO_INSTANCE_ID` = t.`PRO_INSTANCE_ID`
    WHERE t.`ASSIGNEE` = '-1'
      AND bt.`BIZ_TYPE` = #{bizType,jdbcType=VARCHAR}
      AND t.`ACTIVITY_NAME` = #{activityName,jdbcType=VARCHAR}
    ORDER BY bt.`CREATE_TIME`
    </select>
</mapper>