<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.modules.loan.carloaninfo.dao.CarLoanInfoDao">
<resultMap id="CarLoanInfoDTO" type="com.car.modules.loan.carloaninfo.dto.CarLoanInfoDTO">
				<result property="id" column="id" jdbcType="DECIMAL" />
				<result property="orderNumber" column="ORDER_NUMBER" jdbcType="VARCHAR" />
				<result property="productSeries" column="PRODUCT_SERIES" jdbcType="VARCHAR" />
				<result property="productType" column="PRODUCT_TYPE" jdbcType="VARCHAR" />
				<result property="productTerm" column="APPLICATION_PERIOD" jdbcType="VARCHAR" />
				<result property="applicationLimit" column="APPLICATION_AMOUNT" jdbcType="VARCHAR" />
				<result property="financingPurposes" column="FINANCING_USE" jdbcType="VARCHAR" />
				<result property="additionalCredits" column="ADDITIONAL_AMOUNT" jdbcType="VARCHAR" />
				<result property="expectedTotalFinancing" column="TOTAL_FINANCING" jdbcType="VARCHAR" />
				<result property="isAgreedChangeName" column="WHETHER_TRANSFER" jdbcType="VARCHAR" />
				<result property="customerSource" column="CUSTOMER_SOURCE" jdbcType="VARCHAR" />
				<result property="name" column="BUSINESS_CONTACTS" jdbcType="VARCHAR" />
				<result property="phone" column="BUSINESS_PHONE" jdbcType="VARCHAR" />
				<result property="storeAppraiser" column="STORE_APPRAISER" jdbcType="VARCHAR" />
				<result property="customerManager" column="CUSTOMER_MANAGER" jdbcType="VARCHAR" />
				<result property="entryDate" column="ENTRY_DATE" jdbcType="VARCHAR" />
				<result property="endDate" column="END_DATE" jdbcType="VARCHAR" />
				<result property="approvalAmount" column="APPROVAL_AMOUNT" jdbcType="VARCHAR" />
				<result property="orderStatus" column="ORDER_STATUS" jdbcType="VARCHAR" />
				<result property="doyouApprove" column="DOYOU_APPROVE" jdbcType="VARCHAR" />
				<result property="approvalTerm" column="APPROVAL_TERM" jdbcType="VARCHAR" />
				<result property="creationTime" column="CREATION_TIME" jdbcType="TIMESTAMP" />
				<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
				<result property="companyDescription" column="COMPANYDESCRIPTION" jdbcType="VARCHAR" />
				<result property="familyDescription" column="FAMILYDESCRIPTION" jdbcType="VARCHAR" />
				<result property="informationReport" column="INFORMATIONREPORT" jdbcType="VARCHAR" />
				<result property="RFWQuerySituation" column="RFWQUERYSITUATION" jdbcType="VARCHAR" />
				<result property="GSWQuerySituation" column="GSWQUERYSITUATION" jdbcType="VARCHAR" />
				<result property="telephoneVerification" column="TELEPHONEVERIFICATION" jdbcType="VARCHAR" />
				<result property="otherInformation" column="OTHERINFORMATION" jdbcType="VARCHAR" />
				<result property="regional" column="REGIONAL" jdbcType="VARCHAR" />
				<result property="subRegional" column="SUBREGIONAL" jdbcType="VARCHAR" />
				<result property="area" column="AREA" jdbcType="VARCHAR" />
				<result property="entryOrgid" column="ENTRY_ORG_ID" jdbcType="VARCHAR" />
				<result property="entryOrgname" column="ENTRY_ORG_NAME" jdbcType="VARCHAR" />
				<result property="secondlevelid" column="SECOND_LEVEL_ID" jdbcType="VARCHAR" />
				<result property="secondlevelname" column="SECOND_LEVEL_NAME" jdbcType="VARCHAR" />
	            <result property="approvalProductType" column="APPROVAL_PRODUCT_TYPE" jdbcType="VARCHAR" />
	            <result property="auditeState" column="AUDITE_STATE" jdbcType="VARCHAR" />



</resultMap>
				
<!-- 分页查询 CAR_LOAN_INFO -->	
<select id="searchCarLoanInfoByPaging" parameterType="java.util.Map" resultMap="CarLoanInfoDTO">
    	 		select 
						t1.id                             ,
						t1.order_number                   ,
						t1.product_series                 ,
						t1.product_type                   ,
						t1.application_period             ,
						t1.application_amount             ,
						t1.financing_use                  ,
						t1.additional_amount              ,
						t1.total_financing                ,
						t1.whether_transfer               ,
						t1.customer_source                ,
						t1.business_contacts              ,
						t1.business_phone                 ,
						t1.entry_org                      ,
						t1.store_appraiser                ,
						t1.customer_manager               ,
						t1.entry_date                     ,
						t1.end_date                       ,
						t1.approval_amount                ,
						t1.order_status                   ,
						t1.doyou_approve                  ,
						t1.approval_term                  ,
						t1.creation_time                  ,
						t1.update_time					  ,
						t1.companydescription             ,
						t1.familydescription              ,
						t1.informationreport              ,
						t1.rfwquerysituation              ,
						t1.gswquerysituation              ,
						t1.telephoneverification          ,
						t1.otherinformation

				from car_loan_info 	t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.id =#{dto.id}
    			</if>
    			<if test="dto.orderNumber != null and dto.orderNumber != ''">
						and t1.ORDER_NUMBER =#{dto.orderNumber}
    			</if>
    			<if test="dto.productSeries != null and dto.productSeries != ''">
						and t1.PRODUCT_SERIES =#{dto.productSeries}
    			</if>
    			<if test="dto.productType != null and dto.productType != ''">
						and t1.PRODUCT_TYPE =#{dto.productType}
    			</if>
    			<if test="dto.applicationPeriod != null and dto.applicationPeriod != ''">
						and t1.APPLICATION_PERIOD =#{dto.applicationPeriod}
    			</if>
    			<if test="dto.applicationAmount != null and dto.applicationAmount != ''">
						and t1.APPLICATION_AMOUNT =#{dto.applicationAmount}
    			</if>
    			<if test="dto.financingUse != null and dto.financingUse != ''">
						and t1.FINANCING_USE =#{dto.financingUse}
    			</if>
    			<if test="dto.additionalAmount != null and dto.additionalAmount != ''">
						and t1.ADDITIONAL_AMOUNT =#{dto.additionalAmount}
    			</if>
    			<if test="dto.totalFinancing != null and dto.totalFinancing != ''">
						and t1.TOTAL_FINANCING =#{dto.totalFinancing}
    			</if>
    			<if test="dto.whetherTransfer != null and dto.whetherTransfer != ''">
						and t1.WHETHER_TRANSFER =#{dto.whetherTransfer}
    			</if>
    			<if test="dto.customerSource != null and dto.customerSource != ''">
						and t1.CUSTOMER_SOURCE =#{dto.customerSource}
    			</if>
    			<if test="dto.businessContacts != null and dto.businessContacts != ''">
						and t1.BUSINESS_CONTACTS =#{dto.businessContacts}
    			</if>
    			<if test="dto.businessPhone != null and dto.businessPhone != ''">
						and t1.BUSINESS_PHONE =#{dto.businessPhone}
    			</if>
    			<if test="dto.entryOrg != null and dto.entryOrg != ''">
						and t1.ENTRY_ORG =#{dto.entryOrg}
    			</if>
    			<if test="dto.storeAppraiser != null and dto.storeAppraiser != ''">
						and t1.STORE_APPRAISER =#{dto.storeAppraiser}
    			</if>
    			<if test="dto.customerManager != null and dto.customerManager != ''">
						and t1.CUSTOMER_MANAGER =#{dto.customerManager}
    			</if>
    			<if test="dto.entryDate != null and dto.entryDate != ''">
						and t1.ENTRY_DATE =#{dto.entryDate}
    			</if>
    			<if test="dto.endDate != null and dto.endDate != ''">
						and t1.END_DATE =#{dto.endDate}
    			</if>
    			<if test="dto.approvalAmount != null and dto.approvalAmount != ''">
						and t1.APPROVAL_AMOUNT =#{dto.approvalAmount}
    			</if>
    			<if test="dto.orderStatus != null and dto.orderStatus != ''">
						and t1.ORDER_STATUS =#{dto.orderStatus}
    			</if>
    			<if test="dto.doyouApprove != null and dto.doyouApprove != ''">
						and t1.DOYOU_APPROVE =#{dto.doyouApprove}
    			</if>
    			<if test="dto.approvalTerm != null and dto.approvalTerm != ''">
						and t1.APPROVAL_TERM =#{dto.approvalTerm}
    			</if>
    			<if test="dto.creationTime != null and dto.creationTime != ''">
						and t1.CREATION_TIME =#{dto.creationTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME =#{dto.updateTime}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 CAR_LOAN_INFO  -->
<select id="searchCarLoanInfo" parameterType="java.util.Map" resultMap="CarLoanInfoDTO">
    	     select 
						t1.id                             ,
						t1.order_number                   ,
						t1.product_series                 ,
						t1.product_type                   ,
						t1.application_period             ,
						t1.application_amount             ,
						t1.financing_use                  ,
						t1.additional_amount              ,
						t1.total_financing                ,
						t1.whether_transfer               ,
						t1.customer_source                ,
						t1.business_contacts              ,
						t1.business_phone                 ,
						t1.entry_org                      ,
						t1.store_appraiser                ,
						t1.customer_manager               ,
						t1.entry_date                     ,
						t1.end_date                       ,
						t1.approval_amount                ,
						t1.order_status                   ,
						t1.doyou_approve                  ,
						t1.approval_term                  ,
						t1.creation_time                  ,
						t1.update_time					  ,
						t1.companydescription             ,
						t1.familydescription              ,
						t1.informationreport              ,
						t1.rfwquerysituation              ,
						t1.gswquerysituation              ,
						t1.telephoneverification          ,
						t1.otherinformation
				from car_loan_info 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.id = #{dto.id}
    			</if>
    			<if test="dto.orderNumber != null and dto.orderNumber != ''">
						and t1.ORDER_NUMBER = #{dto.orderNumber}
    			</if>
    			<if test="dto.productSeries != null and dto.productSeries != ''">
						and t1.PRODUCT_SERIES = #{dto.productSeries}
    			</if>
    			<if test="dto.productType != null and dto.productType != ''">
						and t1.PRODUCT_TYPE = #{dto.productType}
    			</if>
    			<if test="dto.applicationPeriod != null and dto.applicationPeriod != ''">
						and t1.APPLICATION_PERIOD = #{dto.applicationPeriod}
    			</if>
    			<if test="dto.applicationAmount != null and dto.applicationAmount != ''">
						and t1.APPLICATION_AMOUNT = #{dto.applicationAmount}
    			</if>
    			<if test="dto.financingUse != null and dto.financingUse != ''">
						and t1.FINANCING_USE = #{dto.financingUse}
    			</if>
    			<if test="dto.additionalAmount != null and dto.additionalAmount != ''">
						and t1.ADDITIONAL_AMOUNT = #{dto.additionalAmount}
    			</if>
    			<if test="dto.totalFinancing != null and dto.totalFinancing != ''">
						and t1.TOTAL_FINANCING = #{dto.totalFinancing}
    			</if>
    			<if test="dto.whetherTransfer != null and dto.whetherTransfer != ''">
						and t1.WHETHER_TRANSFER = #{dto.whetherTransfer}
    			</if>
    			<if test="dto.customerSource != null and dto.customerSource != ''">
						and t1.CUSTOMER_SOURCE = #{dto.customerSource}
    			</if>
    			<if test="dto.businessContacts != null and dto.businessContacts != ''">
						and t1.BUSINESS_CONTACTS = #{dto.businessContacts}
    			</if>
    			<if test="dto.businessPhone != null and dto.businessPhone != ''">
						and t1.BUSINESS_PHONE = #{dto.businessPhone}
    			</if>
    			<if test="dto.entryOrg != null and dto.entryOrg != ''">
						and t1.ENTRY_ORG = #{dto.entryOrg}
    			</if>
    			<if test="dto.storeAppraiser != null and dto.storeAppraiser != ''">
						and t1.STORE_APPRAISER = #{dto.storeAppraiser}
    			</if>
    			<if test="dto.customerManager != null and dto.customerManager != ''">
						and t1.CUSTOMER_MANAGER = #{dto.customerManager}
    			</if>
    			<if test="dto.entryDate != null and dto.entryDate != ''">
						and t1.ENTRY_DATE = #{dto.entryDate}
    			</if>
    			<if test="dto.endDate != null and dto.endDate != ''">
						and t1.END_DATE = #{dto.endDate}
    			</if>
    			<if test="dto.approvalAmount != null and dto.approvalAmount != ''">
						and t1.APPROVAL_AMOUNT = #{dto.approvalAmount}
    			</if>
    			<if test="dto.orderStatus != null and dto.orderStatus != ''">
						and t1.ORDER_STATUS = #{dto.orderStatus}
    			</if>
    			<if test="dto.doyouApprove != null and dto.doyouApprove != ''">
						and t1.DOYOU_APPROVE = #{dto.doyouApprove}
    			</if>
    			<if test="dto.approvalTerm != null and dto.approvalTerm != ''">
						and t1.APPROVAL_TERM = #{dto.approvalTerm}
    			</if>
    			<if test="dto.creationTime != null and dto.creationTime != ''">
						and t1.CREATION_TIME = #{dto.creationTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME = #{dto.updateTime}
    			</if>
</select>
  
<!-- 主键查询对象  CAR_LOAN_INFO -->
<select id="findCarLoanInfoByPrimaryKey" parameterType="java.util.Map" resultMap="CarLoanInfoDTO">
   	 		select 
					t1.id                             ,
					t1.order_number                   ,
					t1.product_series                 ,
					t1.product_type                   ,
					t1.application_period             ,
					t1.application_amount             ,
					t1.financing_use                  ,
					t1.additional_amount              ,
					t1.total_financing                ,
					t1.whether_transfer               ,
					t1.customer_source                ,
					t1.business_contacts              ,
					t1.business_phone                 ,
					t1.entry_org_id                   ,
					t1.store_appraiser                ,
					t1.customer_manager               ,
					t1.entry_date                     ,
					t1.end_date                       ,
					t1.approval_amount                ,
					t1.order_status                   ,
					t1.doyou_approve                  ,
					t1.approval_term                  ,
					t1.creation_time                  ,
					t1.update_time					  ,
					t1.REGIONAL					  	  ,
					t1.SUBREGIONAL					   ,
					t1.AREA,
					t1.AUDITE_STATE
			from car_loan_info 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 CAR_LOAN_INFO -->
<insert id="insertCarLoanInfo" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="dto.id">
				insert into car_loan_info
			(
						order_number                   ,
						product_series                 ,
						product_type                   ,
						application_period             ,
						application_amount             ,
						financing_use                  ,
						additional_amount              ,
						total_financing                ,
						whether_transfer               ,
						customer_source                ,
						business_contacts              ,
						business_phone                 ,
						store_appraiser                ,
						customer_manager               ,
						entry_date                     ,
						end_date                       ,
						approval_amount                ,
						order_status                   ,
						doyou_approve                  ,
						approval_term                  ,
						companydescription             ,
						familydescription              ,
						informationreport              ,
						rfwquerysituation              ,
						gswquerysituation              ,
						telephoneverification          ,
						otherinformation               ,
						creation_time                  ,
						update_time					   ,
						REGIONAL					   ,
						SUBREGIONAL					   ,
						AREA						   ,
						ENTRY_ORG_ID                   ,
						ENTRY_ORG_NAME                 ,
						SECOND_LEVEL_ID                ,
						SECOND_LEVEL_NAME

			)
			values(
						#{dto.orderNumber,jdbcType=VARCHAR}
						,
						#{dto.productSeries,jdbcType=VARCHAR}
						,
						#{dto.productType,jdbcType=VARCHAR}
						,
						#{dto.productTerm,jdbcType=VARCHAR}
						,
						#{dto.applicationLimit,jdbcType=VARCHAR}
						,
						#{dto.financingPurposes,jdbcType=VARCHAR}
						,
						#{dto.additionalCredits,jdbcType=VARCHAR}
						,
						#{dto.expectedTotalFinancing,jdbcType=VARCHAR}
						,
						#{dto.isAgreedChangeName,jdbcType=VARCHAR}
						,
						#{dto.customerSource,jdbcType=VARCHAR}
						,
						#{dto.name,jdbcType=VARCHAR}
						,
						#{dto.phone,jdbcType=VARCHAR}
						,
						#{dto.storeAppraiser,jdbcType=VARCHAR}
						,
						#{dto.customerManager,jdbcType=VARCHAR}
						,
						#{dto.entryDate,jdbcType=VARCHAR}
						,
						#{dto.endDate,jdbcType=VARCHAR}
						,
						#{dto.approvalAmount,jdbcType=VARCHAR}
						,
						#{dto.orderStatus,jdbcType=VARCHAR}
						,
						#{dto.doyouApprove,jdbcType=VARCHAR}
						,
						#{dto.approvalTerm,jdbcType=VARCHAR}
						,
						#{dto.companyDescription,jdbcType=VARCHAR}
						,
						#{dto.familyDescription,jdbcType=VARCHAR}
						,
						#{dto.informationReport,jdbcType=VARCHAR}
						,
						#{dto.RFWQuerySituation,jdbcType=VARCHAR}
						,
						#{dto.GSWQuerySituation,jdbcType=VARCHAR}
						,
						#{dto.telephoneVerification,jdbcType=VARCHAR}
						,
						#{dto.otherInformation,jdbcType=VARCHAR}
						,
						now()
						,
						#{dto.updateTime,jdbcType=TIMESTAMP}
						,
						#{dto.regional,jdbcType=VARCHAR}
						,
						#{dto.subRegional,jdbcType=VARCHAR}
						,
						#{dto.area,jdbcType=VARCHAR}
						,
						#{dto.entryOrgid,jdbcType=VARCHAR}
						,
						#{dto.entryOrgname,jdbcType=VARCHAR}
						,
						#{dto.secondlevelid,jdbcType=VARCHAR}
						,
						#{dto.secondlevelname,jdbcType=VARCHAR}

			)
</insert>
    
<!-- 更新对象 CAR_LOAN_INFO -->
<update id="updateCarLoanInfo" parameterType="java.util.Map">
	      update car_loan_info t1
	           set
			           t1.product_series                 =#{dto.productSeries,jdbcType=VARCHAR},
			           t1.product_type                   =#{dto.productType,jdbcType=VARCHAR},
			           t1.application_period             =#{dto.productTerm,jdbcType=VARCHAR},
			           t1.application_amount             =#{dto.applicationLimit,jdbcType=VARCHAR},
			           t1.financing_use                  =#{dto.financingPurposes,jdbcType=VARCHAR},
			           t1.additional_amount              =#{dto.additionalCredits,jdbcType=VARCHAR},
			           t1.total_financing                =#{dto.expectedTotalFinancing,jdbcType=VARCHAR},
			           t1.whether_transfer               =#{dto.isAgreedChangeName,jdbcType=VARCHAR},
			           t1.customer_source                =#{dto.customerSource,jdbcType=VARCHAR},
			           t1.business_contacts              =#{dto.name,jdbcType=VARCHAR},
			           t1.business_phone                 =#{dto.phone,jdbcType=VARCHAR},
			           t1.store_appraiser                =#{dto.storeAppraiser,jdbcType=VARCHAR},
			           t1.customer_manager               =#{dto.customerManager,jdbcType=VARCHAR},
			           t1.entry_date                     =#{dto.entryDate,jdbcType=VARCHAR},
			           t1.end_date                       =#{dto.endDate,jdbcType=VARCHAR},
			           t1.approval_amount                =#{dto.approvalAmount,jdbcType=VARCHAR},
			           t1.order_status                   =#{dto.orderStatus,jdbcType=VARCHAR},
			           t1.doyou_approve                  =#{dto.doyouApprove,jdbcType=VARCHAR},
			           t1.approval_term                  =#{dto.approvalTerm,jdbcType=VARCHAR},
			           t1.companydescription             =#{dto.companyDescription,jdbcType=VARCHAR},
			           t1.familydescription              =#{dto.familyDescription,jdbcType=VARCHAR},
			           t1.informationreport              =#{dto.informationReport,jdbcType=VARCHAR},
			           t1.rfwquerysituation              =#{dto.RFWQuerySituation,jdbcType=VARCHAR},
			           t1.gswquerysituation              =#{dto.GSWQuerySituation,jdbcType=VARCHAR},
			           t1.telephoneverification          =#{dto.telephoneVerification,jdbcType=VARCHAR},
			           t1.otherinformation               =#{dto.otherInformation,jdbcType=VARCHAR},
			           t1.update_time                    =now(),
			           t1.REGIONAL					     =#{dto.regional,jdbcType=VARCHAR},
					   t1.SUBREGIONAL					 =#{dto.subRegional,jdbcType=VARCHAR} ,
					   t1.AREA						     =#{dto.area,jdbcType=VARCHAR},
					   t1.ENTRY_ORG_ID                   =#{dto.entryOrgid,jdbcType=VARCHAR},
					   t1.ENTRY_ORG_NAME                 =#{dto.entryOrgname,jdbcType=VARCHAR},
					   t1.SECOND_LEVEL_ID                =#{dto.secondlevelid,jdbcType=VARCHAR},
					   t1.SECOND_LEVEL_NAME				 =#{dto.secondlevelname,jdbcType=VARCHAR},
					   t1.APPROVAL_PRODUCT_TYPE          =#{dto.approvalProductType,jdbcType=VARCHAR}
	     where t1.ORDER_NUMBER = #{dto.orderNumber}
</update>
   
<!-- 主键假删除 CAR_LOAN_INFO -->
<update id="deleteCarLoanInfoByPrimaryKey" parameterType="java.util.Map">
	     update car_loan_info t1
	           set   t1.valid='0'	
	     where t1.id in( ${ids})
</update>

	<select id="countSqlinfo" parameterType="java.util.Map" resultType="java.lang.Integer">
		${exesql}
	</select>

	<select id="getValueMap" parameterType="java.util.Map" resultType="java.util.HashMap">
		${exesql}
	</select>
	<!-- 更新进件状态 CAR_LOAN_Info -->
	<update id="updateCarLoanInfoAuditState" parameterType="java.util.Map">
		update car_loan_info t1
		set
		t1.AUDITE_STATE                  =#{dto.auditeState,jdbcType=VARCHAR},
		t1.update_time                   =CURRENT_TIMESTAMP
		where t1.id = #{dto.id}
	</update>
	<update id="updateCarLoanInfoAuditInfo" parameterType="java.util.Map">
		update car_loan_info t1
		set
		t1.approval_amount                =#{dto.approvalAmount,jdbcType=VARCHAR},
		t1.approval_term                  =#{dto.approvalTerm,jdbcType=VARCHAR},
		t1.APPROVAL_PRODUCT_TYPE          =#{dto.approvalProductType,jdbcType=VARCHAR}
		t1.update_time                   =CURRENT_TIMESTAMP
		where t1.id = #{dto.id}
	</update>
	<!-- 主键查询对象  CAR_LOAN_INFO -->
	<select id="findCarLoanInfoByOrderNum" parameterType="java.util.Map" resultMap="CarLoanInfoDTO">
		select
						t1.id                             ,
						t1.order_number                   ,
						t1.product_series                 ,
						t1.product_type                   ,
						t1.application_period             ,
						t1.application_amount             ,
						t1.financing_use                  ,
						t1.additional_amount              ,
						t1.total_financing                ,
						t1.whether_transfer               ,
						t1.customer_source                ,
						t1.business_contacts              ,
						t1.business_phone                 ,
						t1.entry_org_id                   ,
						t1.store_appraiser                ,
						t1.customer_manager               ,
						t1.entry_date                     ,
						t1.end_date                       ,
						t1.approval_amount                ,
						t1.order_status                   ,
						t1.doyou_approve                  ,
						t1.approval_term                  ,
						t1.companydescription             ,
						t1.familydescription              ,
						t1.informationreport              ,
						t1.rfwquerysituation              ,
						t1.gswquerysituation              ,
						t1.telephoneverification          ,
						t1.otherinformation               ,
						t1.creation_time                  ,
						t1.update_time                    ,
						t1.regional                       ,
						t1.subregional                    ,
						t1.area                           ,
						t1.entry_org_name                 ,
						t1.second_level_id                ,
						t1.second_level_name              ,
						t1.audite_state                   ,
						t1.operate_user                   ,
						t1.one_start                      ,
						t1.one_end                        ,
						t1.autdit_end_time                ,
						t1.cre_user_id                    ,
						t1.cre_last_user                  ,
						t1.reaudit_start                  ,
						t1.reaudit_end                    ,
						t1.rec_audit_user
		from car_loan_info 		t1
		where
		t1.order_number = #{orderNum}
	</select>


























</mapper>