<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.modules.loan.carloanfile.dao.CarLoanFileDao">
<resultMap id="CarLoanFileDTO" type="com.car.modules.loan.carloanfile.dto.CarLoanFileDTO">
				<result property="id" column="id" jdbcType="DECIMAL" />
				<result property="orderNumber" column="ORDER_NUMBER" jdbcType="VARCHAR" />
				<result property="fileUrl" column="FILE_URL" jdbcType="VARCHAR" />
				<result property="historyUrl" column="HISTORY_URL" jdbcType="VARCHAR" />
				<result property="fileLink" column="FILE_LINK" jdbcType="VARCHAR" />
				<result property="attachType" column="FILE_TYPE" jdbcType="VARCHAR" />
				<result property="fileName" column="FILE_NAME" jdbcType="VARCHAR" />
				<result property="fileAppendageType" column="FILE_APPENDAGE_TYPE" jdbcType="VARCHAR" />
				<result property="fileAppendixTypeNumber" column="FILE_APPENDIX_TYPE_NUMBER" jdbcType="VARCHAR" />
				<result property="creationTime" column="CREATION_TIME" jdbcType="TIMESTAMP" />
				<result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP" />
</resultMap>
				
<!-- 分页查询 CAR_LOAN_FILE -->	
<select id="searchCarLoanFileByPaging" parameterType="java.util.Map" resultMap="CarLoanFileDTO">
    	 		select 
						t1.id                             ,
						t1.order_number                   ,
						t1.file_url                       ,
						t1.history_url                    ,
						t1.file_link                      ,
						t1.file_type                      ,
						t1.file_name                      ,
						t1.file_appendage_type            ,
						t1.file_appendix_type_number      ,
						t1.creation_time                  ,
						t1.update_time                    
					
				from car_loan_file 	t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.id =#{dto.id}
    			</if>
    			<if test="dto.orderNumber != null and dto.orderNumber != ''">
						and t1.ORDER_NUMBER =#{dto.orderNumber}
    			</if>
    			<if test="dto.fileUrl != null and dto.fileUrl != ''">
						and t1.FILE_URL =#{dto.fileUrl}
    			</if>
    			<if test="dto.historyUrl != null and dto.historyUrl != ''">
						and t1.HISTORY_URL =#{dto.historyUrl}
    			</if>
    			<if test="dto.fileLink != null and dto.fileLink != ''">
						and t1.FILE_LINK =#{dto.fileLink}
    			</if>
    			<if test="dto.fileType != null and dto.fileType != ''">
						and t1.FILE_TYPE =#{dto.fileType}
    			</if>
    			<if test="dto.fileName != null and dto.fileName != ''">
						and t1.FILE_NAME =#{dto.fileName}
    			</if>
    			<if test="dto.fileAppendageType != null and dto.fileAppendageType != ''">
						and t1.FILE_APPENDAGE_TYPE =#{dto.fileAppendageType}
    			</if>
    			<if test="dto.fileAppendixTypeNumber != null and dto.fileAppendixTypeNumber != ''">
						and t1.FILE_APPENDIX_TYPE_NUMBER =#{dto.fileAppendixTypeNumber}
    			</if>
    			<if test="dto.creationTime != null and dto.creationTime != ''">
						and t1.CREATION_TIME =#{dto.creationTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME =#{dto.updateTime}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 CAR_LOAN_FILE  -->
<select id="searchCarLoanFile" parameterType="java.util.Map" resultMap="CarLoanFileDTO">
    	     select 
						t1.id                             ,
						t1.order_number                   ,
						t1.file_url                       ,
						t1.history_url                    ,
						t1.file_link                      ,
						t1.file_type                      ,
						t1.file_name                      ,
						t1.file_appendage_type            ,
						t1.file_appendix_type_number      ,
						t1.creation_time                  ,
						t1.update_time                    
				from car_loan_file 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.id = #{dto.id}
    			</if>
    			<if test="dto.orderNumber != null and dto.orderNumber != ''">
						and t1.ORDER_NUMBER = #{dto.orderNumber}
    			</if>
    			<if test="dto.fileUrl != null and dto.fileUrl != ''">
						and t1.FILE_URL = #{dto.fileUrl}
    			</if>
    			<if test="dto.historyUrl != null and dto.historyUrl != ''">
						and t1.HISTORY_URL = #{dto.historyUrl}
    			</if>
    			<if test="dto.fileLink != null and dto.fileLink != ''">
						and t1.FILE_LINK = #{dto.fileLink}
    			</if>
    			<if test="dto.fileType != null and dto.fileType != ''">
						and t1.FILE_TYPE = #{dto.fileType}
    			</if>
    			<if test="dto.fileName != null and dto.fileName != ''">
						and t1.FILE_NAME = #{dto.fileName}
    			</if>
    			<if test="dto.fileAppendageType != null and dto.fileAppendageType != ''">
						and t1.FILE_APPENDAGE_TYPE = #{dto.fileAppendageType}
    			</if>
    			<if test="dto.fileAppendixTypeNumber != null and dto.fileAppendixTypeNumber != ''">
						and t1.FILE_APPENDIX_TYPE_NUMBER = #{dto.fileAppendixTypeNumber}
    			</if>
    			<if test="dto.creationTime != null and dto.creationTime != ''">
						and t1.CREATION_TIME = #{dto.creationTime}
    			</if>
    			<if test="dto.updateTime != null and dto.updateTime != ''">
						and t1.UPDATE_TIME = #{dto.updateTime}
    			</if>
</select>
  
<!-- 主键查询对象  CAR_LOAN_FILE -->
<select id="findCarLoanFileByPrimaryKey" parameterType="java.util.Map" resultMap="CarLoanFileDTO">
   	 		select 
					t1.id                             ,
					t1.order_number                   ,
					t1.file_url                       ,
					t1.history_url                    ,
					t1.file_link                      ,
					t1.file_type                      ,
					t1.file_name                      ,
					t1.file_appendage_type            ,
					t1.file_appendix_type_number      ,
					t1.creation_time                  ,
					t1.update_time                    
			from car_loan_file 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 CAR_LOAN_FILE -->
<insert id="insertCarLoanFile" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="dto.id">
			insert into car_loan_file
			(   		
						id                             ,
						order_number                   ,
						file_url                       ,
						history_url                    ,
						file_link                      ,
						file_type                      ,
						file_name                      ,
						file_appendage_type            ,
						file_appendix_type_number      ,
						creation_time                  ,
						update_time                     ,
						SUFFIX_NAME
			)
			values(
						#{dto.id,jdbcType=DECIMAL}
						,
						#{dto.orderNumber,jdbcType=VARCHAR}
						,
						#{dto.fileUrl,jdbcType=VARCHAR}
						,
						#{dto.historyUrl,jdbcType=VARCHAR}
						,
						#{dto.fileLink,jdbcType=VARCHAR}
						,
						#{dto.attachType,jdbcType=VARCHAR}
						,
						#{dto.fileName,jdbcType=VARCHAR}
						,
						#{dto.fileAppendageType,jdbcType=VARCHAR}
						,
						#{dto.fileAppendixTypeNumber,jdbcType=VARCHAR}
						,
						now()
						,
						#{dto.updateTime,jdbcType=TIMESTAMP}
						,
						#{dto.Suffixname,jdbcType=TIMESTAMP}
						
			)
</insert>
    
<!-- 更新对象 CAR_LOAN_FILE -->
<update id="updateCarLoanFile" parameterType="java.util.Map">
	     update car_loan_file t1
	           set 
			           t1.id                             =#{dto.id,jdbcType=DECIMAL},
			           t1.order_number                   =#{dto.orderNumber,jdbcType=VARCHAR},
			           t1.file_url                       =#{dto.fileUrl,jdbcType=VARCHAR},
			           t1.history_url                    =#{dto.historyUrl,jdbcType=VARCHAR},
			           t1.file_link                      =#{dto.fileLink,jdbcType=VARCHAR},
			           t1.file_type                      =#{dto.fileType,jdbcType=VARCHAR},
			           t1.file_name                      =#{dto.fileName,jdbcType=VARCHAR},
			           t1.file_appendage_type            =#{dto.fileAppendageType,jdbcType=VARCHAR},
			           t1.file_appendix_type_number      =#{dto.fileAppendixTypeNumber,jdbcType=VARCHAR},
			           t1.creation_time                  =#{dto.creationTime,jdbcType=TIMESTAMP},
			           t1.update_time                    =#{dto.updateTime,jdbcType=TIMESTAMP}
	     where t1.id = #{dto.id}
</update>
   
<!-- 主键删除 CAR_LOAN_FILE -->
<delete id="deleteCarLoanFileByID" parameterType="java.util.Map">
    	delete from car_loan_file where id in (${ids} )
</delete>
<!-- 主键假删除 CAR_LOAN_FILE -->
<update id="deleteCarLoanFileByPrimaryKey" parameterType="java.util.Map">
	     update car_loan_file t1
	           set   t1.valid='0'	
	     where t1.id in( ${ids})
</update>




	<select id="findCarLoanFileOrderNum" parameterType="java.util.Map" resultMap="CarLoanFileDTO">
			SELECT
				T1.FILE_TYPE,
				concat(
					T1.FILE_TYPE,
					'-',
					T2.ATT_TYPE_NAME
				) file_name,
				t1.FILE_URL,
				t1.SUFFIX_NAME
			FROM
				car_loan_file t1,
				lb_t_att_type t2
			WHERE
				t1.FILE_TYPE = t2.att_type_code
			AND t1.ORDER_NUMBER = #{orderNum} ORDER BY t1.FILE_TYPE
	</select>













</mapper>