<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carloan.service.admin.sysrolemapping.dao.SysRoleMappingDao">
<resultMap id="SysRoleMappingDTO" type="com.carloan.service.admin.sysrolemapping.dto.SysRoleMappingDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="roleCode" column="ROLE_CODE" jdbcType="VARCHAR" />
				<result property="mappingRoleCode" column="MAPPING_ROLE_CODE" jdbcType="VARCHAR" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
</resultMap>
				
<!-- 分页查询 sys_role_mapping -->	
<select id="searchSysRoleMappingByPaging" parameterType="java.util.Map" resultMap="SysRoleMappingDTO">
    	 		select 
						t1.id                             ,
						t1.role_code                      ,
						t1.mapping_role_code              ,
						t1.validate_state                 
					
				from sys_role_mapping 	t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.roleCode != null and dto.roleCode != ''">
						and t1.ROLE_CODE =#{dto.roleCode}
    			</if>
    			<if test="dto.mappingRoleCode != null and dto.mappingRoleCode != ''">
						and t1.MAPPING_ROLE_CODE =#{dto.mappingRoleCode}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 sys_role_mapping  -->
<select id="searchSysRoleMapping" parameterType="java.util.Map" resultMap="SysRoleMappingDTO">
    	     select 
						t1.id                             ,
						t1.role_code                      ,
						t1.mapping_role_code              ,
						t1.validate_state                 
				from sys_role_mapping 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.roleCode != null and dto.roleCode != ''">
						and t1.ROLE_CODE = #{dto.roleCode}
    			</if>
    			<if test="dto.mappingRoleCode != null and dto.mappingRoleCode != ''">
						and t1.MAPPING_ROLE_CODE = #{dto.mappingRoleCode}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
</select>
  
<!-- 主键查询对象  sys_role_mapping -->
<select id="findSysRoleMappingByPrimaryKey" parameterType="java.util.Map" resultMap="SysRoleMappingDTO">
   	 		select 
					t1.id                             ,
					t1.role_code                      ,
					t1.mapping_role_code              ,
					t1.validate_state                 
			from sys_role_mapping 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 sys_role_mapping -->
<insert id="insertSysRoleMapping" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="dto.id">
			insert into sys_role_mapping
			(   		
						role_code                      ,
						mapping_role_code              ,
						validate_state                 
			)
			values(
						#{dto.roleCode,jdbcType=VARCHAR}
						,
						#{dto.mappingRoleCode,jdbcType=VARCHAR}
						,
						'1'
						
			)
</insert>
    
<!-- 更新对象 sys_role_mapping -->
<update id="updateSysRoleMapping" parameterType="java.util.Map">
	     update sys_role_mapping t1
	           set 
					 <if test="dto.roleCode != null and dto.roleCode != ''">
						 t1.role_code                      =#{dto.roleCode,jdbcType=VARCHAR},
					 </if>
					 <if test="dto.mappingRoleCode != null and dto.mappingRoleCode != ''">
						 t1.mapping_role_code              =#{dto.mappingRoleCode,jdbcType=VARCHAR},
					 </if>
					 <if test="dto.validateState != null and dto.validateState != ''">
						 t1.validate_state                 ='1'
					 </if>
	     where t1.id = #{dto.id}
</update>


<select id="queryLikeSysRoleMapping" parameterType="java.util.Map" resultMap="SysRoleMappingDTO">
	select
	t1.id                             ,
	t1.role_code                      ,
	t1.mapping_role_code              ,
	t1.validate_state                 
			from sys_role_mapping 		t1
			where 1=1
	<if test="dto.id != null and dto.id != ''">
	and t1.ID = #{dto.id}
	</if>
	<if test="dto.roleCode != null and dto.roleCode != ''">
	and t1.ROLE_CODE = #{dto.roleCode}
	</if>
	<if test="dto.mappingRoleCode != null and dto.mappingRoleCode != ''">
	and t1.MAPPING_ROLE_CODE = #{dto.mappingRoleCode}
	</if>
	<if test="dto.validateState != null and dto.validateState != ''">
	and t1.VALIDATE_STATE = #{dto.validateState}
	</if>
			</select>

<delete id="deleteSysRoleMapping"  parameterType="java.util.Map">
delete from sys_role_mapping where id in (#{ids})
</delete>

</mapper>