<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carloan.service.master.sysdict.dao.SysDictDao">
<resultMap id="SysDictDTO" type="com.carloan.service.master.sysdict.dto.SysDictDTO">
				<result property="id" column="ID" jdbcType="DECIMAL" />
				<result property="dictCode" column="DICT_CODE" jdbcType="VARCHAR" />
				<result property="dictName" column="DICT_NAME" jdbcType="VARCHAR" />
				<result property="dictType" column="DICT_TYPE" jdbcType="VARCHAR" />
				<result property="validateState" column="VALIDATE_STATE" jdbcType="VARCHAR" />
				<result property="version" column="VERSION" jdbcType="DECIMAL" />
</resultMap>
				
<!-- 分页查询 sys_dict -->	
<select id="searchSysDictByPaging" parameterType="java.util.Map" resultMap="SysDictDTO">
    	 		select 
						t1.id                             ,
						t1.dict_code                      ,
						t1.dict_name                      ,
						t1.dict_type                      ,
						t1.validate_state                 ,
						t1.version                        
					
				from sys_dict 	t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID =#{dto.id}
    			</if>
    			<if test="dto.dictCode != null and dto.dictCode != ''">
						and t1.DICT_CODE =#{dto.dictCode}
    			</if>
    			<if test="dto.dictName != null and dto.dictName != ''">
						and t1.DICT_NAME =#{dto.dictName}
    			</if>
    			<if test="dto.dictType != null and dto.dictType != ''">
						and t1.DICT_TYPE =#{dto.dictType}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE =#{dto.validateState}
    			</if>
    			<if test="dto.version != null and dto.version != ''">
						and t1.VERSION =#{dto.version}
    			</if>
				
				order by t1.id desc
</select>
  
<!-- 查询列表 sys_dict  -->
<select id="searchSysDict" parameterType="java.util.Map" resultMap="SysDictDTO">
    	     select 
						t1.id                             ,
						t1.dict_code                      ,
						t1.dict_name                      ,
						t1.dict_type                      ,
						t1.validate_state                 ,
						t1.version                        
				from sys_dict 		t1
				where 1=1
    			<if test="dto.id != null and dto.id != ''">
						and t1.ID = #{dto.id}
    			</if>
    			<if test="dto.dictCode != null and dto.dictCode != ''">
						and t1.DICT_CODE = #{dto.dictCode}
    			</if>
    			<if test="dto.dictName != null and dto.dictName != ''">
						and t1.DICT_NAME = #{dto.dictName}
    			</if>
    			<if test="dto.dictType != null and dto.dictType != ''">
						and t1.DICT_TYPE = #{dto.dictType}
    			</if>
    			<if test="dto.validateState != null and dto.validateState != ''">
						and t1.VALIDATE_STATE = #{dto.validateState}
    			</if>
    			<if test="dto.version != null and dto.version != ''">
						and t1.VERSION = #{dto.version}
    			</if>
</select>
  
<!-- 主键查询对象  sys_dict -->
<select id="findSysDictByPrimaryKey" parameterType="java.util.Map" resultMap="SysDictDTO">
   	 		select 
					t1.id                             ,
					t1.dict_code                      ,
					t1.dict_name                      ,
					t1.dict_type                      ,
					t1.validate_state                 ,
					t1.version                        
			from sys_dict 		t1
			where 
				t1.id = #{id}
</select>
  
<!-- 新增对象 sys_dict -->
<insert id="insertSysDict" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="dto.id">
			insert into sys_dict
			(   		
						dict_code                      ,
						dict_name                      ,
						dict_type                      ,
						validate_state                 ,
						version                        
			)
			values(
						#{dto.dictCode,jdbcType=VARCHAR}
						,
						#{dto.dictName,jdbcType=VARCHAR}
						,
						'0'
						,
						'1'
						,
						'1'
						
			)
</insert>
    
<!-- 更新对象 sys_dict -->
<update id="updateSysDict" parameterType="java.util.Map">
	     update sys_dict t1
	           set 
					 <if test="dto.dictCode != null and dto.dictCode != ''">
						 t1.dict_code                      =#{dto.dictCode,jdbcType=VARCHAR},
					 </if>
					 <if test="dto.dictName != null and dto.dictName != ''">
						 t1.dict_name                      =#{dto.dictName,jdbcType=VARCHAR}
					 </if>

	     where t1.dict_code = #{dto.dictCode}
</update>


<select id="queryLikeSysDict" parameterType="java.util.Map" resultMap="SysDictDTO">
	select
	t1.id                             ,
	t1.dict_code                      ,
	t1.dict_name                      ,
	t1.dict_type                      ,
	t1.validate_state                 ,
	t1.version                        
			from sys_dict 		t1
			where 1=1
	<if test="dto.id != null and dto.id != ''">
	and t1.ID = #{dto.id}
	</if>
	<if test="dto.dictCode != null and dto.dictCode != ''">
	and t1.DICT_CODE = #{dto.dictCode}
	</if>
	<if test="dto.dictName != null and dto.dictName != ''">
	and t1.DICT_NAME = #{dto.dictName}
	</if>
	<if test="dto.dictType != null and dto.dictType != ''">
	and t1.DICT_TYPE = #{dto.dictType}
	</if>
	<if test="dto.validateState != null and dto.validateState != ''">
	and t1.VALIDATE_STATE = #{dto.validateState}
	</if>
	<if test="dto.version != null and dto.version != ''">
	and t1.VERSION = #{dto.version}
	</if>
			</select>




	<select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(1) from sys_dict WHERE DICT_CODE=#{dictCode}
	</select>




</mapper>